{{ form_start(formEditRepo, {'attr': {'class': 'form-horizontal teacher-repositories-edit', 'action' : path('teacher-repositories-edit-modal')} }) }}
{{ form_errors(formEditRepo) }}
<div class="form-body pal">
    <div class="form-group">
        {{ form_label(formEditRepo.libelle, "Nom du dépôt", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(formEditRepo.libelle) }}
        {{ form_widget(formEditRepo.libelle, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_label(formEditRepo.beginDate, "Date de début : ", { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formEditRepo.beginDate) }}
                <div class="input-append date" data-date="01-01-2016">
                    <div class="input-group">
                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        {{ form_widget(formEditRepo.beginDate, {'attr': { 'readonly' : 'readonly'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_label(formEditRepo.endDate, "Date de fin : ", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formEditRepo.endDate) }}
                <div class="input-append date" data-date="01-01-2016">
                    <div class="input-group">
                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        {{ form_widget(formEditRepo.endDate, {'attr': { 'readonly' : 'readonly'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-3">
                {{ form_label(formEditRepo.language, "Langage", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formEditRepo.language) }}
                {{ form_widget(formEditRepo.language, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(formEditRepo.limited, "Est limité ?", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formEditRepo.limited) }}
                {{ form_widget(formEditRepo.limited, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(formEditRepo.enabled, "Est Actif ?", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formEditRepo.enabled) }}
                {{ form_widget(formEditRepo.enabled, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_label(formEditRepo.maxCommitPerPerson, "Nombre de soumission maximum", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formEditRepo.maxCommitPerPerson) }}
                {{ form_widget(formEditRepo.maxCommitPerPerson, {'attr': {'class': 'form-control', 'min' : '1'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(formEditRepo.timeout, "Time Out (en s)", {'label_attr': {'class': 'ontrol-label'}}) }}
                {{ form_errors(formEditRepo.timeout) }}
                {{ form_widget(formEditRepo.timeout, {'attr': {'class': 'form-control', 'min' : '1'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(formEditRepo.description, "Description", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(formEditRepo.description) }}
        {{ form_widget(formEditRepo.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="text-center">
        {{ form_widget(formEditRepo.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
</div>
<input type="hidden" id="teacher-repositories-edit-id" value="{{ repository.id }}">
<input type="hidden" id="teacher-repositories-edit-callback" value="{{ path('teacher-repositories') }}">
{{ form_rest(formEditRepo) }}
{{ form_end(formEditRepo) }}