
{% block main_container %}

<div class="text-center" style="clear: both;height: 160px">
    {% if message is defined %}
        <h1>{{ message }}</h1>
    {% endif %}
    {% if message2 is defined %}
        <h2>{{ message2 }}</h2>
    {% endif %}
    </div>
</div>


{% endblock %}

