{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'UserBundle:layout.html.twig' %}

{% block main_container %}

    <div class="page-content">

        <style>
            .centralBG {
                background: url("{{  asset("images/Material_Design3.jpg") }}") center;
            }</style>
        <div class="centralBG"></div>
        <div class="container" style="color: white">
            <div style="position:relative" ;>
                {% if message is defined %}
                    <h1>{{ message }}</h1>
                {% endif %}
                {% if message2 is defined %}
                    <h2>{{ message2 }}</h2>
                {% endif %}
                {{ form_start(formForgot,{attr:{'class':'container','style':'max-width: 600px;min-width: 100px;', 'action' : path('user-forgot-something'), 'method' : 'POST'} }) }}
                <div class="form-content">
                    <div class="form-group">
                        {{ form_row(formForgot.Email) }}
                    </div>
                </div>
                <br/>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-5">
                            {{ form_row(formForgot.login) }}
                            <br/>
                        </div>

                        <div class="col-md-2"><div>
                        <div class="col-md-5">
                            {{ form_row(formForgot.password) }}
                        </div>
                    </div>
                {{ form_end(formForgot) }}
            </div>
        </div>
    </div>
{% endblock %}

