

{% block main_container %}
    <div class="text-center">
        {% if message is defined %}
            <h1>{{ message }}</h1>

        {% endif %}
        {% if message2 is defined %}
            <h2>{{ message2 }}</h2>
        {% endif %}</div>
    {{ form_start(formPassword,{attr:{'class':'container user-change-password','style':'max-width: 400px;min-width: 100px;', 'action' : path('user-change-password'), 'method' : 'POST'} }) }}
    <div class="form-content">
        <div class="form-group">
            {{ form_row(formPassword.plainPassword.first) }}
        </div>
        <br/>
        <div class="form-group">
            {{ form_row(formPassword.plainPassword.second) }}
        </div>
    </div>
    <br/>
    <div class="text-center">
        {{ form_row(formPassword.Enregistrer) }}
    </div>
    {{ form_end(formPassword) }}
    <br/>
{% endblock %}