{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'UserBundle:layout.html.twig' %}

{% block main_container %}

    <div class="page-content">

        <style>
            #sidebar, .page-title-breadcrumb {
                display: none;
            }

            #page-wrapper {
                padding: 0px !important;
            }

            .centralBG {
                background: url("{{  asset("images/Material_Design3.jpg") }}") center;
            }</style>
        <div class="centralBG"></div>
        <div class="container" style="color: white">
            <div style="position:relative" ;>
                {% if message is defined %}
                    <h1>{{ message }}</h1>
                {% else %}
                    <h1>Félicitations ! Votre compte est activé !</h1>
                {% endif %}
                {% if message2 is defined %}
                    <h2>{{ message2 }}</h2>
                {% else %}
                    <h2>Mais pour l'utiliser, merci de définir votre mot de passe :</h2>
                {% endif %}
                {{ form_start(formPassword,{attr:{'class':'container','style':'max-width: 400px;min-width: 100px;', 'action' : path('user-confirm-password'), 'method' : 'POST'} }) }}
                <div class="form-content">
                    <div class="form-group">
                        {{ form_row(formPassword.plainPassword.first) }}
                    </div>
                    <br/>
                    <div class="form-group">
                        {{ form_row(formPassword.plainPassword.second) }}
                    </div>
                </div>
                <br/>
                <div class="text-center">
                    {{ form_row(formPassword.Enregistrer) }}
                </div>
                {{ form_end(formPassword) }}
            </div>
        </div>
    </div>
{% endblock %}
