<div class="panel visit db mbm">
    <div class="panel-body" id="admin-config-connexion-test">
        <div class="col-sm-2 text-center">
            <span style="font-size:42px;color:orange;" class="glyphicon glyphicon-warning-sign"></span>
        </div>
        <div class="col-sm-10">
            <p style="font-size: 28px;">Rafraichissez le bloc pour mettre à jour les résultats en attente !</p>
        </div>
    </div>
</div>