<html>
<head>
</head>

<body>

	<h3>Bonjour,</h3>

	<p>Nous avons le plaisir de vous annoncer que vous avez été invité à participer au projet <strong>{{ projet }}</strong> par <strong>{{ professeur }}</strong>.</p>
	
	{% if isRegistered %}
		<p>Vous disposez déjà d'un compte utilisateur sur la plateforme, nous vous remercions de <a target="_blank" href="{{ path('fos_user_security_login') }}">vous connecter</a> avec les mêmes identifiants qu'à votre dernière connexion.</p>
	{% else %}
		<p>Vous ne semblez pas disposer de compte sur la plateforme, créés en un en utilisant <strong>cette adresse mail</strong> en cliquant sur <a target="_blank" href="{{ path('fos_user_registration_register') }}">ce lien</a>.</p>
	{% endif %}


	<p>Si ce message ne vous est pas déstiné pas, merci de le l'ignorer et le supprimer.</p>

</body>
</html>