{{ form_start(formAddGroup, {'attr': {'class': 'admin-student-add-group', 'action' : path('admin-students'), 'method' : 'POST'} }) }}
					{{ form_errors(formAddGroup) }}
<div class="form-body pal">
    <div class="form-group">
        {{ form_label(formAddGroup.libelle, "Nom du nouveau groupe", { 'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(formAddGroup.libelle) }}
        {{ form_widget(formAddGroup.libelle, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(formAddGroup.creator, "Propriétaire", { 'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(formAddGroup.creator, {'attr': {'class': 'form-control'}}) }}

        {{ form_errors(formAddGroup.libelle) }}
    </div>
</div>
<div class="text-center">
    {{ form_widget(formAddGroup.save, {'attr': {'class': 'btn btn-primary'}}) }}
</div>
{{ form_rest(formAddGroup) }}
					{{ form_end(formAddGroup) }}