{% for formEditGrp in listGroupEdit %}


    <div class="panel panel-grey panelGroupe" idgroupe="{{ formEditGrp.vars['value'].id }}">
        <div class="panel-heading"> {{ formEditGrp.vars['value'].libelle }} : #{{ formEditGrp.vars['value'].id }}
            - {{ formEditGrp.vars['value'].creator.getFullname() }}

            <a data-step="1" data-toggle="collapse"
               class="collapse-block pull-right glyphicon glyphicon-chevron-up"
               href="#collapsegrp{{ formEditGrp.vars['value'].id }}"
               aria-controls="collapsegrp{{ formEditGrp.vars['value'].id }}"></a>
        </div>
        <div class="panel-body collapse panel-collapse " id="collapsegrp{{ formEditGrp.vars['value'].id }}">

            {{ form_start(formEditGrp, {'attr': {'class': 'admin-student-edit-group', 'action' : path('admin-edit-students-group'), 'method' : 'POST'} }) }}
            {{ form_errors(formEditGrp) }}
            <div class="form-body pal">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">

                            {{ form_label(formEditGrp.libelle, " Changer le nom du groupe : ", { 'label_attr': {'class': 'control-label'}}) }}
                            {{ form_errors(formEditGrp.libelle) }}
                            {{ form_widget(formEditGrp.libelle, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-3"><br/>
                            {{ form_widget(formEditGrp.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                        <div class="col-md-3"><br/>
                            {{ form_label(formEditGrp.disabled, ( formEditGrp.vars['value'].disabled?"Activer le groupe":" Désactiver le groupe"), { 'label_attr': {'class': 'btn btn-warning '}}) }}

                            {{ form_widget(formEditGrp.disabled,  {'attr':{'class': 'hidden checkboxAdminDeleteGroupStudents'}}) }}
                        </div>
                        <div class="col-md-3"><br/>
                            {{ form_label(formEditGrp.creator, " Propriétaire :", { 'label_attr': {'class': ''}}) }}
                            {{ form_widget(formEditGrp.creator,  {'attr':{'class': 'form-control selectProprietaireGroupe'}}) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center">
            </div>
            {{ form_rest(formEditGrp) }}
            {{ form_end(formEditGrp) }}

            <div class="paginationReceiverAdminStudent">
                {% include 'AdminBundle:Student:admin-students-pagination.html.twig' with {'groupeListStudent':formEditGrp.vars['groupeListStudent'],path:'admin-students-group' } %}
            </div>
        </div>
    </div>

{% endfor %}