{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'AdminBundle:layout.html.twig' %}

{% block breadcrumb_title %}
    Gestion des etudiants
{% endblock %}

 {% block breadcrumb_list %}
     <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('admin-teacher') }}">Administrateur</a>&nbsp;</li>
     <li class="breadcrumb-statut active">Etudiants</li>
 {% endblock %}

{% block sidebar_active_2 %}
    class="active"
{% endblock %}

{% block main_container %}
    <div class="page-content">
        {% if flashbag is defined and flashbag is not null%}
            <div class="modal bagmodal fade bs-example-modal-lg"><div class="modal-dialog"><div class="modal-content">
                <div class="alert alert-{{ tagclass }}">{{ flashbag | raw }}</div>
            </div></div></div>
        {% endif %}

        <div class="row">
            <!-- Add Panel -->
            <div class="col-sm-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div>
                            Ajouter un un étudiant
                            <a data-step="0" data-toggle="collapse"
                               class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                               href="#adminStudentcollapseAddEtu"></a>
                        </div>
                    </div>
                    <div id="adminStudentcollapseAddEtu" class="panel-collapse collapse">
                        <div class="panel-body pan">
                            <div class="alert" style="display: none"></div>
                            <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/>
                            {% include 'AdminBundle:Student:AddStudent.html.twig' with { 'formAddEtudiant': formAddEtudiant } %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Panel -->
            <div class="col-sm-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div>
                            Ajouter un groupe
                            <a data-step="0" data-toggle="collapse"
                               class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                               href="#adminStudentcollapseAddGrp"></a>
                        </div>
                    </div>
                    <div id="adminStudentcollapseAddGrp" class="panel-collapse collapse">
                        <div class="panel-body pan">

                            <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/>
                            {% include 'AdminBundle:Student:AddGroup.html.twig' with { 'formAddEtudiant': formAddGroup } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-green">
            <div class="panel-heading">
                <div>
                    Importer une liste d'étudiants
                    <a data-step="0" data-toggle="collapse"
                       class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                       href="#adminStudentcollapseImportListStudents"></a>
                </div>
            </div>
            <div id="adminStudentcollapseImportListStudents" class="panel-collapse collapse">
                <div class="panel-body pan">
                    <b style="color:royalblue">Importer une liste d'étudiants au : <a target="_blank"
                                                                                      href="//fr.wikipedia.org/wiki/Comma-separated_values#Variantes_fran.C3.A7aises">
                            ->Format CSV Variante Française (Wikipedia)</a></b>
                    <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/>
                    {% include 'AdminBundle:Student:ImportListStudent.html.twig' with { '$formImportListStudent': formImportListStudent } %}
                </div>
            </div>
        </div>
        <div class="panel panel-green">
            <div class="panel-heading">
                <div>
                    Envoyer des e-mails aux étudiants / groupes
                    <a data-step="0" data-toggle="collapse"
                       class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                       href="#collapseMailStudents"></a>
                </div>
            </div>
            <div id="collapseMailStudents" class="panel-collapse collapse">
                <div class="panel-body pan">
                    <div class="alert hidden"></div>
                    <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/>
                    {% include 'UserBundle:Groupe:groupe-mail.html.twig' with { 'form': formMail } %}
                </div>
            </div>
        </div>

        <div class="panel panel-green">
            <div class="panel-heading">
                <div>
                    Liste de tout les étudiants
                    <a data-step="0" data-toggle="collapse"
                       class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                       href="#adminStudentcollapseListAllStudents"></a>
                </div>
            </div>
            <div id="adminStudentcollapseListAllStudents" class="panel-collapse panel-body  collapse panelGroupe">
                {{ form_start(listStudent, {'attr': {'class': 'admin-student-list-student-group-pagination', 'action' : path('list-all-student-pagin'), 'method' : 'POST'} }) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(listStudent.nbResultPage,"Nombre d'étudiants par page") }}
                        {{ form_widget(listStudent.nbResultPage,  {'attr':{'class': 'form-control selectNbResultPaginationStudentInGroup'}}) }}
                    </div>

                </div>
                {{ form_widget(listStudent.pageCourante,  {'attr':{'class': 'hidden hiddenPageCourantePaginationStudentInGroup'}}) }}
                {{ form_rest(listStudent) }}
                {{ form_end(listStudent) }}

            </div>
        </div>
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs tablistAdminListStudentsGroup" role="tablist">
                <li data='true' control='#gactif' role="presentation" style="width: 50%;" class="active">
                    <a href="#gactif" aria-controls="gactif" role="tab" data-toggle="tab">Groupes activés</a></li>
                <li data='false' control='#ginactif' role="presentation" style="width: 50%;">
                    <a href="#ginactif" aria-controls="ginactif" role="tab" data-toggle="tab">Groupes désactivés</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="gactif">
                    {% include 'AdminBundle:Student:admin-student-group-tbody.html.twig' with {'listGroupEdit':listGroupEdit } %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="ginactif">
                </div>
            </div>

        </div>
    </div>


{% endblock %}