{% set idForm = 'formEditStudent'~etu.vars['data'].id~etu.vars["form"].vars['form'].vars['form'].children['groupe'].vars['value'] %}


<tr class=" {{ trclass is defined?trclass:"" }}">
    <td>{{ etu.vars['data'].id }}</td>
    <td class="etuData"><span>{{ etu.vars['data'].email }}</span><span class="edit email hidden"></span></td>
    <td><button class="addStudentInMail btn btn-sm btn-info"><span class="glyphicon glyphicon-envelope"></span></button></td>
    <td class="etuData"><span> {{ etu.vars['data'].username }}</span><span class="edit username hidden"></span></td>
    <td class="etuData"><span>{{ etu.vars['data'].lastname }}</span><span class="edit lastname hidden"></span></td>
    <td class="etuData"><span>{{ etu.vars['data'].firstname }}</span><span class="edit firstname hidden"></span>
    </td>
    <td class="etuData">
        <span>{% if etu.vars['data'].enabled %}
            <b class="label label-sm label-success edit-admin-form-info-enabled">Actif</b>
        {% else %}
                <b class="label label-sm label-danger edit-admin-form-info-enabled">Inactif</b>
            {% endif %}
    </span><span class="edit enabled hidden"></span>
    </td>
    <td class="etuData">
                    <span>
                    <button class="btedit btn btn-primary editEtuFromGroup"><span
                                class="glyphicon glyphicon-edit"></span>
                    </button>
                    </span>
                    <span class="edit enregistrer hidden">
                        <button class="btn btn-danger cancelEditForStudent"><span
                                    class="glyphicon glyphicon-eye-close hidden"> </span></button>
                    </span>
    </td>
    <td class="tddel ">
        {{ form_start(etu, {'attr': {'id':idForm,'class': 'admin-edit-student-in-group admineditStudent'~etu.vars['data'].id, 'action' : path('admin-edit-students'), 'method' : 'POST'} }) }}

        {{ form_widget(etu.email,  {'attr':{'class': 'form-control email hidden','form': idForm   }}) }}
        {{ form_widget(etu.enabled,  {'attr':{'class': 'form-control enabled hidden','form': idForm   }}) }}
        {{ form_widget(etu.username,  {'attr':{'class': 'form-control username hidden','form': idForm   }}) }}
        {{ form_widget(etu.firstname,  {'attr':{'class': 'form-control firstname hidden','form':idForm}}) }}
        {{ form_widget(etu.lastname,  {'attr':{'class': 'form-control lastname hidden','form':idForm}}) }}
        {{ form_widget(etu.Enregistrer,  {'attr':{'class': 'btn btn-info enregistrer hidden','form':idForm}}) }}

        {{ form_widget(etu.id,  {'attr':{'class': 'hidden'}}) }}
        {{ form_widget(etu.groupe,  {'attr':{'class': 'hidden','form':idForm}}) }}
        <label class="btn btn-warning" form="{{ idForm }}"> Retirer
            {{ form_widget(etu.Retirer,  {'attr':{'class': 'hidden retirerEtuFromGroup','form':idForm}}) }}
        </label>
        {{ form_rest(etu) }}
        {{ form_end(etu) }}

    </td>
</tr>