{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'ProfesseurBundle:layout.html.twig' %}

{% block sidebar_active_3 %}
	class="active"
{% endblock %}

{% block breadcrumb_title %}
    Mes tests
{%  endblock %}

 {% block breadcrumb_list %}
     <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('teacher-tests') }}">Professeur</a>&nbsp;</li>
     <li class="breadcrumb-statut active">Test</li>
 {% endblock %}

{% block main_container %}
    <div class="page-content">
        {% include 'ProfesseurBundle:Tests:Modal/teacher-tests-build-modal.html.twig' %}
        {% include 'ProfesseurBundle:Tests:Modal/teacher-tests-run-modal.html.twig' %}
        {% include 'AppBundle:Indication:refresh-result.html.twig' %}
        <div class="panel panel-orange">
            <div class="panel-heading">
                Résultats des tests
                <a data-step="1" data-toggle="collapse" class="collapse-block pull-right glyphicon glyphicon-chevron-up" href="#collapse-result"></a>
                <a style="margin-right:10px;" class="refresh-block pull-right glyphicon glyphicon-refresh" href="{{ path('teacher-tests') }}"></a>
            </div>
            <div class="panel-body collapse panel-collapse in pagination-content" id="collapse-result">
                {% include 'ProfesseurBundle:Tests:teacher-tests-table.html.twig' with {'statut' : statut, 'runResults': runResults, 'submissions': submissions, 'page' : page, 'totalResults': totalResults,'totalPage' : totalPage, 'beginResult' : beginResult, 'endResult' : endResult } %}
            </div>
        </div>
    </div>
{% endblock %}
