{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block navbar_left_extends %}{% endblock %}

{% block sidebar_extends %}

<li {%  block sidebar_active_1 %}{% endblock %}>
    <a href="{{ path('student-repositories') }}"  data-page-title="Accès aux dépots" data-breadcrumb-statut="Dépots" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-folder-open nav-link"  title="Dépots">
        <span class="menu-title">Dépots</span>
    </a>
</li>
<li {%  block sidebar_active_2 %}{% endblock %}>
    <a href="{{ path('student-results') }}" data-page-title="Résultats" data-breadcrumb-statut="Résulats" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-paste nav-link"  title="Résultats">
        <span class="menu-title">Résulats</span>
    </a>
</li>

{% endblock %}