{% include 'AppBundle:Layout:pagination.html.twig' with {'beginResult' : beginResult, 'endResult' : endResult, 'totalResults' : totalResults, 'totalPages': totalPage, 'page': page, 'elements': elements, 'uri' : path('student-results') } %}
<section class="table-responsive">
    <table class="table table-hover table-hover-color" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Projet</th>
            <th>Langage</th>
            <th>Professeur</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Log compilation</th>
            <th>Résultat / log des runs</th>
        </tr>
        </thead>
        <tbody class="pagination-table">
        {% for sub in submissions %}
            <tr class="{{ sub.result == null ? 'danger'
            : sub.result == 500  ? 'danger'
            : sub.buildresult == null ? 'info'
            : sub.buildresult == 402 ? 'danger'
            : sub.buildresult == 404 ? 'warning'
            : statut[loop.index0] == 400 ? 'danger'
            : statut[loop.index0] == 408 ? 'warning'
            : statut[loop.index0] == 401 ? 'warning'
            : statut[loop.index0] == 404 ? 'warning'
            : 'success' }}">
                <td>{{ sub.id }}</td>
                <td>{{ sub.repository.libelle }}</td>
                <td>{{ sub.repository.language.libelle }}</td>
                <td>{{ sub.repository.creator.lastname }}</td>
                <td>{{ sub.dateCommit|date('d-m-y H:i:s') }}</td>
                <td>{{ sub.result == null ? 'Erreur de communication avec le serveur'
                    : sub.result == 500  ? 'Erreur lors de l\'echange avec le serveur'
                    : sub.buildresult == null ? 'Résultat en attente'
                    : sub.buildresult == 402 ? 'Erreur de compilation'
                    : sub.buildresult == 404 ? 'Erreur inconnu'
                    : statut[loop.index0] == 400 ? 'Erreur d\'execution'
                    : statut[loop.index0]  == 408 ? 'Temps limite dépassé'
                    : statut[loop.index0]  == 401 ? 'Mauvaise réponse !'
                    : statut[loop.index0]  == 404 ? 'Autres erreurs (Main file ?)'
                    : 'Tout est bon' }}</td>
                <td><button class="glyphicon glyphicon-eye-open btn btn-success" data-toggle="modal" data-target="#build-results-student-modal" data-id="{{ sub.id }}"></button></td>
                <td><button class="glyphicon glyphicon-eye-open btn btn-primary" data-toggle="modal" data-target="#run-results-student-modal" data-id="{{ sub.id }}"></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="tableResultStudentSpinner" class="text-center pagination-spinner" hidden><img src="{{ asset('images/spinner.gif') }}" alt="" /></div>
</section>