{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'EtudiantBundle:layout.html.twig' %}

{% block sidebar_active_2 %}
    class="active"
{% endblock %}

{% block breadcrumb_title %}
    Dashboard
{%  endblock %}

 {% block breadcrumb_list %}
     <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('student-results') }}">Etudiant</a>&nbsp;</li>
     <li class="breadcrumb-statut active">Resultat</li>
 {% endblock %}

{% block main_container %}
    <div class="page-content">
        {% include 'EtudiantBundle:Results:Modal/student-results-build-modal.html.twig' %}
        {% include 'EtudiantBundle:Results:Modal/student-results-run-modal.html.twig' %}
        {% include 'AppBundle:Indication:refresh-result.html.twig' %}
        <div class="panel panel-violet">
            <div class="panel-heading">
                Mes résultats
                <a data-step="1" data-toggle="collapse" class="collapse-block pull-right glyphicon glyphicon-chevron-up" href="#collapse-result"></a>
                <a style="margin-right:10px;" class="refresh-block pull-right glyphicon glyphicon-refresh" href="{{ path('student-results') }}"></a>
            </div>
            <div class="panel-body collapse panel-collapse in pagination-content" id="collapse-result">
                {% include 'EtudiantBundle:Results:student-results-table.html.twig' with {'statut' : statut, 'runResults': runResults, 'submissions': submissions, 'page' : page, 'totalResults': totalResults,'totalPage' : totalPage, 'beginResult' : beginResult, 'endResult' : endResult } %}
            </div>
        </div>
    </div>
{% endblock %}

