{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block navbar_left_extends %}
    {#<li class="dropdown">#}
    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Outils <span class="caret"></span></a>#}
    {#<ul class="dropdown-menu">#}
    {#<li class="dropdown-header">Interface d'administration</li>#}
    {#<li><a href="{{ path('professeurAdmin') }}"><span class="glyphicon glyphicon-education"></span> Administration des professeurs</a></li>#}
    {#<li><a href="{{ path('etudiantAdmin') }}"><span class="glyphicon glyphicon-book"></span> Administration des étudiants</a></li>#}
    {#<li><a href="{{ path('statsAdmin') }}"><span class="glyphicon glyphicon-stats"></span> Statistiques</a></li>#}
    {#<li role="separator" class="divider"></li>#}
    {#<li class="dropdown-header">Autres</li>#}
    {#<li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>#}
    {#</ul>#}
    {#</li>#}
{% endblock %}

{% block sidebar_extends %}

    <li {% block sidebar_active_1 %}{% endblock %}>
        <a href="{{ path('admin-teacher') }}" data-page-title="Interface Professeur" data-breadcrumb-statut="Professeur"
           data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-education nav-link"
           title="Professeur">
            <span class="menu-title">Professeurs</span>
        </a>
    </li>
    <li {% block sidebar_active_2 %}{% endblock %}>
        <a href="{{ path('admin-students') }}" data-page-title="Interface étudiants" data-breadcrumb-statut="Etudiants"
           data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-user nav-link" title="Etudiant">
            <span class="menu-title">Etudiants</span>
        </a>
    </li>
    <li {% block sidebar_active_3 %}{% endblock %}>
        <a href="{{ path('admin-config') }}" data-page-title="Configuration" data-breadcrumb-statut="Configuration"
           class="glyphicon glyphicon-cog nav-link" data-toggle="tooltip" data-placement="right" title="Configuration">
            <span class="menu-title">Configuration</span>
        </a>
    </li>
{% endblock %}