<div id="administration-repositories-teacher-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Administration du dépôt</h4>
            </div>
            <div id="administration-repositories-teacher-modal-body" class="modal-body">

            </div>
            <div id="administration-repositories-teacher-modal-spinner" class="text-center">
                <img src="{{ asset('images/spinner.gif') }}" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warnging" data-dismiss="modal"><span class="glyphicon glyphicon-quit pull-left"></span>Fermer</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="administration-repositories-teacher-modal-path" value ="{{ path('teacher-repositories-administration-modal') }}">