<div id="affect-container">
    <h3>Affectation du groupe {{ repository.libelle }}</h3>
    {{ form_start(formEditAffect, {'attr': {'class': 'form-horizontal teacher-repositories-affect-group', 'action' : path('teacher-repositories-administration-modal')} }) }}
    {{ form_errors(formEditAffect) }}
    <div class="form-body pal">
    <div class="form-group">
        {{ form_label(formEditAffect.userGroups, "Groupe : ", { 'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(formEditAffect.userGroups) }}
        {{ form_widget(formEditAffect.userGroups, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="text-center">
        {{ form_widget(formEditAffect.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    </div>
    {{ form_rest(formEditAffect) }}
    {{ form_end(formEditAffect) }}
</div>
<div id="affect-container-teacher-spinner" class="text-center" hidden>
    <img src="{{ asset('images/spinner.gif') }}" alt="" />
</div>