{% include 'ProfesseurBundle:Repositories:Modal/Administration/teacher-repositories-affect.html.twig' with { 'formEditAffect' : formEditAffect, 'repository': repository} %}
{% include 'ProfesseurBundle:Repositories:Modal/Administration/teacher-repositories-testcase.html.twig' with { 'formAddTestCase' : formAddTestCase, 'repository': repository, 'totalPage': totalPage, 'page':page} %}
<input type="hidden" id="teacher-repositories-affect-id" value="{{ repository.id }}">