<h3>Test du case du repo {{ repository.libelle }}</h3>
<ul class="nav nav-tabs">
    <li class="active"><a href="#teacher-repositories-testcase-add-tab" data-toggle="tab">Ajouter un test case</a></li>
    <li class=""><a href="#teacher-repositories-testcase-edit-tab" data-toggle="tab">Editer les tests</a></li>
</ul>
<div class="tab-content">
    <div id="teacher-repositories-testcase-add-tab" class="tab-pane fade">
        <input id="teacher-repositories-testcase-id" type="hidden" value="{{ repository.id }}">
        {{ form_start(formAddTestCase, {'attr': {'class': 'form-horizontal teacher-repositories-testcase-add', 'action' : path('teacher-repositories-administration-modal')} }) }}
        {{ form_errors(formAddTestCase) }}
        <div class="form-body pal">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6">
                        {{ form_label(formAddTestCase.libelle, "Libelle : ", { 'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(formAddTestCase.libelle) }}
                        {{ form_widget(formAddTestCase.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(formAddTestCase.final, "Est final : ", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(formAddTestCase.final) }}
                        {{ form_widget(formAddTestCase.final, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6">
                        {{ form_label(formAddTestCase.input, "Input", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(formAddTestCase.input) }}
                        {{ form_widget(formAddTestCase.input, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(formAddTestCase.output, "Output", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(formAddTestCase.output) }}
                        {{ form_widget(formAddTestCase.output, {'attr': {'class': 'form-control', 'min' : '1'}}) }}
                    </div>
                </div>
            </div>
            <div class="text-center">
                {{ form_widget(formAddTestCase.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
        {{ form_rest(formAddTestCase) }}
        {{ form_end(formAddTestCase) }}
    </div>
    <div id="teacher-repositories-testcase-edit-tab" class="tab-pane fade">
        <div id="teacher-repositories-testcase-edit-tab-content" class="pagination-impose-content">
            {% include 'ProfesseurBundle:Repositories:Modal/Administration/teacher-repositories-testcase-edit.html.twig' with { 'formsTestCase' : formsTestCase, 'totalPages': totalPage, 'page': page} %}
        </div>
        <div id="editTestCaseRepositoriesTeacherSpinner" class="text-center pagination-impose-spinner" hidden><img src="{{ asset('images/spinner.gif') }}" alt="" /></div>
    </div>
    <input type="hidden" id="teacher-testcase-repositories-id" value="{{ repository.id }}">
</div>