<h4>{{ formTestCase.vars.value.libelle }}</h4>
{{ form_start(formTestCase, {'attr': {'class': 'form-horizontal teacher-repositories-testcase-edit-form', 'action' : path('teacher-repositories-administration-modal')} }) }}
    {{ form_errors(formTestCase) }}
<div class="form-body pal">
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_label(formTestCase.libelle, "Libelle : ", { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formTestCase.libelle) }}
                {{ form_widget(formTestCase.libelle, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(formTestCase.final, "Est final : ", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formTestCase.final) }}
                {{ form_widget(formTestCase.final, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(formTestCase.enabled, "Est actif : ", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formTestCase.enabled) }}
                {{ form_widget(formTestCase.enabled, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_label(formTestCase.input, "Input", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formTestCase.input) }}
                {{ form_widget(formTestCase.input, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(formTestCase.output, "Output", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formTestCase.output) }}
                {{ form_widget(formTestCase.output, {'attr': {'class': 'form-control', 'min' : '1'}}) }}
            </div>
        </div>
    </div>
    <div class="text-center">
        {{ form_widget(formTestCase.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
</div>
{{ form_rest(formTestCase) }}
{{ form_end(formTestCase) }}