{% include 'AppBundle:Layout:pagination-impose.html.twig' with {'beginResult' : beginResult, 'endResult' : endResult, 'totalResults' : totalResults, 'totalPages': totalPage, 'page': page, 'elements': 5, 'uri' : path('teacher-repositories-administration-modal') } %}
<div id="teacher-repositories-testcase-edit-content" class="pagination-impose-table">
    {% for formTestCase in formsTestCase %}
        <div class="teacher-repositories-testcase-edit-form-content">
            {% include 'ProfesseurBundle:Repositories:Modal/Administration/teacher-repositories-testcase-edit-form.html.twig' with { 'formtestCase' : formTestCase } %}
        </div>
    {% endfor %}
</div>