{% include 'AppBundle:Layout:pagination.html.twig' with {'beginResult' : beginResult, 'endResult' : endResult, 'totalResults' : totalResults, 'totalPages': totalPage, 'page': page, 'elements': elements, 'uri' : path('admin-config') } %}
<section class="table-responsive">
    <table class="table table-hover table-hover-color" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Intitulé</th>
            <th>Addresse</th>
            <th>Port</th>
            <th>URI</th>
            <th>Statut</th>
            <th>Editer</th>
        </tr>
        </thead>
        <tbody id="admin-config-tbody" class="pagination-table">
        {% for config in configs %}
            {% include 'AdminBundle:Config:admin-config-tline.html.twig' with {'config' : config, 'formEditConfig': formsEditConfig[loop.index0] } %}
        {% endfor %}
        </tbody>
    </table>
    <div id="tableConfigAdminSpinner" class="text-center buffalo-pagination-spinner" hidden><img
                src="{{ asset('images/spinner.gif') }}" alt=""/></div>
</section>