{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'AdminBundle:layout.html.twig' %}

{% block admin_subtitle %}
    Interface configuration
{% endblock %}

{% block sidebar_active_3 %}
    class="active"
{% endblock %}

{% block breadcrumb_title %}
    Configuration
{% endblock %}

 {% block breadcrumb_list %}
     <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('admin-teacher') }}">Admin</a>&nbsp;</li>
     <li class="active">Configuration</li>
 {% endblock %}


{% block main_container %}
    <div class="page-content">

        <div class="row">
            <div class="col-sm-6">
                <div class="panel visit db mbm">
                    <div class="panel-heading">
                        <div>
                            Connection au juge
                            <button id="admin-config-connexion-test-refresh" class="glyphicon glyphicon-refresh pull-right"></button>
                        </div>
                    </div>
                    <div class="panel-body" id="admin-config-connexion-test">

                    </div>
                    <div id="admin-config-connexion-test-spinner" class="text-center buffalo-pagination-spinner" hidden><img
                                src="{{ asset('images/spinner.gif') }}" alt=""/></div>
                    <input type="hidden" id="admin-config-connexion-test-path" value="{{ path('admin-config-test') }}">
                </div>
            </div>

            <!-- Add Panel -->
            <div class="col-sm-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div>
                            Ajouter une config
                            <a data-step="0" data-toggle="collapse"
                               class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                               href="#admin-config-collapse-add"></a>
                        </div>
                    </div>
                    <div id="admin-config-collapse-add" class="panel-collapse collapse">
                        <div class="panel-body pan">
                            {{ form_start(formAddConfig, {'attr': {'class': 'admin-config-add form-horizontal', 'action' : path('admin-config'), 'method' : 'POST'} }) }}
                            {{ form_errors(formAddConfig) }}
                            <div class="form-body pal">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            {{ form_label(formAddConfig.label, "Intitulé", { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(formAddConfig.label) }}
                                            {{ form_widget(formAddConfig.label, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_label(formAddConfig.addr, "Adresse", { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(formAddConfig.addr) }}
                                            {{ form_widget(formAddConfig.addr, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            {{ form_label(formAddConfig.port, "Port", { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(formAddConfig.port) }}
                                            {{ form_widget(formAddConfig.port, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_label(formAddConfig.uri, "URI", { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(formAddConfig.uri) }}
                                            {{ form_widget(formAddConfig.uri, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    {{ form_widget(formAddConfig.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            </div>
                            {{ form_rest(formAddConfig) }}
                            {{ form_end(formAddConfig) }}
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="col-sm-6">#}
                {#<div class="panel panel-green">#}
                    {#<div class="panel-heading">#}
                        {#<div>#}
                            {#Rechercher une config#}
                            {#<a data-step="0" data-toggle="collapse"#}
                               {#class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"#}
                               {#href="#collapseSearch"></a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div id="collapseSearch" class="panel-collapse collapse">#}
                        {#<div class="panel-body">#}
                            {#<form class="form-inline" role="form">#}
                                {#<div class="form-group">#}
                                    {#<input class="form-control input-group" id="search-teacher-text" type="text"#}
                                           {#placeholder="Rechercher..."/>#}
                                    {#<select class="form-control" id="search-teacher-option">#}
                                        {#<option>tous</option>#}
                                        {#<option>actif</option>#}
                                        {#<option>inactif</option>#}
                                    {#</select>#}
                                {#</div>#}
                            {#</form>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="panel panel-green">
            <div class="panel-heading">
                <div>
                    Gérer les configs
                    <a data-step="1" data-toggle="collapse"
                       class="collapse-block pull-right glyphicon glyphicon-chevron-up" data-toggle="collapse"
                       href="#admin-config-collapse-table"></a>
                </div>
            </div>
            <div class="panel-collapse collapse in">
                <div class="panel-body pan pagination-content" id="admin-config-collapse-table">
                    {% include 'AdminBundle:Config:admin-config-table.html.twig' with {'elements' : elements, 'configs': configs, 'page' : page, 'totalResults': totalResults,'totalPage' : totalPage, 'beginResult' : beginResult, 'endResult' : endResult } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}