{% if connectionStatus.config  %}
    <div class="row">
        {% if connectionStatus.config  %}
            {% if connectionStatus.status %}
                <h4 class="text-center">

                    {% if judgeStatus %}
                        <span style=" font-size: 42px; margin: 5px; color:green;" class="glyphicon glyphicon-signal"></span>
                        Connecté à <strong>{{ connectionStatus.config.addr }}:{{ connectionStatus.config.port }}/{{ connectionStatus.config.uri }}</strong><br/>
                        <strong>Juge actif</strong>
                    {% else %}
                        <span style=" font-size: 42px; margin: 5px; color:orange;" class="glyphicon glyphicon-signal"></span>
                        Connecté à <strong>{{ connectionStatus.config.addr }}:{{ connectionStatus.config.port }}/{{ connectionStatus.config.uri }}</strong><br/>
                        <strong>Juge inactif</strong>
                    {% endif %}
                    </h4>
                <div id="admin-config-connexion-test-action-spinner" class="text-center" hidden><img
                            src="{{ asset('images/spinner.gif') }}" alt=""/></div>
                <div id="admin-config-connexion-test-action-content" class="text-center">

                </div>
                <div class="row text-center">
                    <div class="btn-group text-center">
                        <button class="btn btn-info glyphicon glyphicon-play admin-config-server-action" data-path="{{ path('admin-config-test-s') }}" data-toggle="tooltip" data-placement="bottom" title="Start"></button>
                        <button class="btn btn-success glyphicon glyphicon-step-forward admin-config-server-action" data-path="{{ path('admin-config-test-sb') }}" data-toggle="tooltip" data-placement="bottom" title="Start & Build"></button>
                        <button class="btn btn-warning glyphicon glyphicon-repeat admin-config-server-action" data-path="{{ path('admin-config-test-r') }}" data-toggle="tooltip" data-placement="bottom" title="Restart"></button>
                        <button class="btn btn-primary glyphicon glyphicon-refresh admin-config-server-action" data-path="{{ path('admin-config-test-rb') }}" data-toggle="tooltip" data-placement="bottom" title="Restart & build"></button>
                        <button class="btn btn-danger glyphicon glyphicon-stop admin-config-server-action" data-path="{{ path('admin-config-test-stop') }}" data-toggle="tooltip" data-placement="bottom" title="Stop"></button>
                    </div>
                </div>
            {% else %}
                <h4  class="text-center">
                    <span style="font-size: 42px; margin: 5px; color:red" class="glyphicon glyphicon-signal"></span> Hors ligne <br/>
                    Impossible d'établir une connection avec le juge <strong>{{ connectionStatus.config.addr }}:{{ connectionStatus.config.port }}</strong>
                </h4>
            {% endif %}
        {% else %}
            <p>Aucune connection selectionée, ajoutez en un grâce aux formulaires ci-dessous</p>
        {% endif %}
    </div>
{% else %}
    <p>Aucune connection selectionée, ajoutez en un grâce aux formulaires ci-dessous</p>
{% endif %}
