<tr class="admin-config-table-line">
    <td>{{ config.id }}</td>
    <td hidden>
        {{ form_start(formEditConfig, {'attr': {'class': 'AdminEditConfigForm form-inline', 'action' : path('admin-config'), 'method' : 'POST', 'id' : 'admin_edit_config' ~ config.id  }} ) }}
        {{ form_errors(formEditConfig) }}
        {{ form_widget(formEditConfig.label, {'attr': {'class': 'form-control input-sm admin-edit-config-form-real-label', 'form' : 'admin_edit_config' ~ config.id}} ) }}
        {{ form_widget(formEditConfig.addr, {'attr': {'class': 'form-control input-sm admin-edit-config-form-real-addr' , 'form' : 'admin_edit_config' ~ config.id}}) }}
        {{ form_widget(formEditConfig.port, {'attr': {'class': 'form-control input-sm admin-edit-config-form-real-port', 'form' : 'admin_edit_config' ~ config.id}} ) }}
        {{ form_widget(formEditConfig.uri, {'attr': {'class': 'form-control input-sm admin-edit-config-form-real-uri', 'form' : 'admin_edit_config' ~ config.id}} ) }}
        {{ form_widget(formEditConfig.enabled, {'attr': {'class': 'form-control admin-edit-config-form-real-status', 'form' : 'admin_edit_config' ~ config.id}} ) }}
        {{ form_widget(formEditConfig.save, {'attr': {'class': 'admin-edit-config-form-real-submit btn btn-sm btn-success glyphicon glyphicon-check', 'form' : 'admin_edit_config' ~ config.id}} ) }}
        {{ form_rest(formEditConfig) }}
        {{ form_end(formEditConfig) }}
    </td>
    <td>
        <span class="admin-edit-config-form-label">{{ config.label }}</span>
        <span class="admin-edit-config-form-input-label"></span>
    </td>
    <td>
        <span class="admin-edit-config-form-addr">{{ config.addr }}</span>
        <span class="admin-edit-config-form-input-addr"></span>
    </td>
    <td>
        <span class="admin-edit-config-form-port">{{ config.port }}</span>
        <span class="admin-edit-config-form-input-port"></span>
    </td>
    <td>
        <span class="admin-edit-config-form-uri">{{ config.uri }}</span>
        <span class="admin-edit-config-form-input-uri"></span>
    </td>
    <td>
        {% if config.enabled %}
            <span class="label label-sm label-success admin-edit-config-form-status">Actif</span>
        {% else %}
            <span class="label label-sm label-danger admin-edit-config-form-status">Inactif</span>
        {% endif %}
        <span class="admin-edit-config-form-input-status"></span>
    </td>
    <td>
        <button class="btn btn-sm btn-warning admin-edit-config"><span class="glyphicon glyphicon-edit"></span></button>
        <span class="admin-edit-config-form-input-submit"></span>
        <button class="btn btn-sm btn-danger admin-edit-config-cancel" style="display:none"><span
                    class="glyphicon glyphicon-remove-circle"></span></button>
    </td>
</tr>