<div class="row text-center">
    <div class="well">
        <h4>Dépot {{ repository.libelle }}</h4>
        <p>{{ repository.creator.lastname }} - {{ repository.language.libelle }}</p>
        <br>
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                {{ repository.description | raw }}
            </div>
        </div>
    </div>
</div>