<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activez votre compte : Vous avez été inscrit sur Student Code Jugdge‏</title>

</head>
<body>
<style>
    .header {
        width: 100%;
        color: white;
        background:	#3CB371  ;
    }

    .texte {
        width: 100%;
        margin: 30px;
        padding: 30px;
        height: 350px;
    }
    .visbleLink{
        margin: 30px;
    }
</style>
<div class="header">
    <h3>Bonjour, {{ user.getFullname() }}</h3>
    <h4>Vous avez été inscrit au programme Student Code Judge, qui vous permettra de tester vos projets de programation</h4>
</div>
<div class="texte">
    <h4>Votre compte est pour le moment désactivé</h4>
    <p>Vous devez confirmer votre E-mail en cliquant sur le lien suivant </p>

    <b>Votre identidiant est : {{ user.getUsername() }}</b><br/>
    <b>Lien :</b>
    <a href="{{ confirmationUrl }}" class="visbleLink">Activer mon compte</a>
    <br/>
    <h5>Bien à vous.</h5>
    <h5>L'équipe Student Code Jugde</h5>
</div>
</body>
</html>