<div class="panel panel-primary" style="margin-top:80px;">
	<div class="panel-heading">Enregistrez vous !</div>
	<div class="panel-body">
		{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		{{ form_widget(form) }}
		<div>
			<input type="submit" value="{{ 'registration.submit'|trans }}" />
		</div>
		{{ form_end(form) }}
	</div>
</div>