{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	{% include "UserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
