<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activez votre compte : Vous avez été inscrit sur Student Code Jugdge‏</title>

</head>
<body>
<style>
    .header {
        width: 100%;
        color: white;
        background:	#3CB371  ;
    }

    .texte {
        width: 100%;
        margin: 30px;
        padding: 30px;
        height: 350px;
    }
    .visbleLink{
        margin: 30px;
    }
</style>
<div class="header">
    <h3>Bonjour, {{ user.getFullname() }}</h3>
    <h4>Vous avez demandé un lien de réinitialisation du mot de passe</h4>
</div>
<div class="texte">

    <b>Pour rappel, votre identidiant est : {{ user.getUsername() }}</b><br/>
    <b>Lien :</b>
    <a href="{{ confirmationUrl }}" class="visbleLink">Réinitialiser mon mot de passe</a>
    <br/>
    <h5>Bien à vous.</h5>
    <h5>L'équipe Student Code Jugde</h5>
</div>
</body>
</html>