{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'ProfesseurBundle:layout.html.twig' %}

{% block breadcrumb_title %}
    Gestion des dépôts
{%  endblock %}

 {% block breadcrumb_list %}
     <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('teacher-submissions') }}">Professeur</a>&nbsp;</li>
     <li class="breadcrumb-statut active">Soumissions</li>
 {% endblock %}

{%  block sidebar_active_2 %}
    class="active"
{% endblock %}

{% block main_container %}
<div class="page-content">
    {% include 'ProfesseurBundle:Tests:Modal/teacher-tests-build-modal.html.twig' %}
    {% include 'ProfesseurBundle:Tests:Modal/teacher-tests-run-modal.html.twig' %}
    {% include 'AppBundle:Indication:refresh-result.html.twig' %}
    <div class="panel panel-orange">
        <div class="panel-heading">
            Dernières soumissions
            <a data-step="1" data-toggle="collapse" class="collapse-block pull-right glyphicon glyphicon-chevron-down" href="#teacher-submissions-select-repo"></a>
            <a style="margin-right:10px;" class="refresh-block pull-right glyphicon glyphicon-refresh" href="{{ path('teacher-submissions') }}"></a>
        </div>
        <div class="collapse panel-collapse in" id="teacher-submissions-select-repo">
            <div class="panel-body">
                <div class="well">
                    <div class="row">
                        <div class="teacher-submissions-repository-filter col-sm-6">
                            Filter sur les dépots :
                            <select id="teacher-repositories-select-repo-input">
                                <option value="null">aucun</option>
                                {% for repository in repositories %}
                                    <option value="{{ repository.id }}">{{ repository.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="teacher-submissions-group-filter col-sm-6">
                            Filter sur les groupes :
                            <select id="teacher-repositories-select-group-input">
                                <option value="null">aucun</option>
                                {% for group in userGroups %}
                                    <option value="{{ group.id }}">{{ group.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pagination-content">
                    {% include 'ProfesseurBundle:Submissions:teacher-submissions-table.html.twig' with {'elements' : elements, 'submissions': submissions, 'page' : page, 'totalResults': totalResults,'totalPage' : totalPage, 'beginResult' : beginResult, 'endResult' : endResult } %}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-orange">
        <div class="panel-heading">
            Accorder des soumissions supplémentaires
            <a data-step="1" data-toggle="collapse" class="collapse-block pull-right glyphicon glyphicon-chevron-down" href="#teacher-submissions-granted-submissions"></a>
        </div>
        <div class="collapse panel-collapse in" id="teacher-submissions-granted-submissions">
            <div class="panel-body">
                {{ form_start(addGrantedSubmissionForm, {'attr': {'action' : path('teacher-submissions'), 'class': 'professeurBundle_add_grantedsubmission'} }) }}
                {{ form_errors(addGrantedSubmissionForm) }}

                <div class="row">
                    <div class="col-md-3">
                        {{ form_widget(addGrantedSubmissionForm.user, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        {{ form_widget(addGrantedSubmissionForm.repository, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        {{ form_widget(addGrantedSubmissionForm.nb, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div style="text-align: center;">
                    {{ form_widget(addGrantedSubmissionForm.submit) }}
                </div>

                {{ form_rest(addGrantedSubmissionForm) }}
                {{ form_end(addGrantedSubmissionForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}