.badge {
    font-size: 11px !important;
    font-weight: 300;
    height: 18px;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center;
    vertical-align: middle;
    background-color: #bcbcbc;
}
.label {
    font-size: 11px;
    font-weight: 300;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.badge-default,
.label-default {
    background-color: #999 !important;
}
.badge-primary,
.label-primary {
    background-color: #dc6767 !important;
}
.badge-red,
.label-red {
    background-color: #bf4346 !important;
}
.badge-orange,
.label-orange {
    background-color: #e9662c !important;
}
.badge-green,
.label-green {
    background-color: #488c6c !important;
}
.badge-yellow,
.label-yellow {
    background-color: #f2994b !important;
}
.badge-blue,
.label-blue {
    background-color: #0a819c !important;
}
.badge-violet,
.label-violet {
    background-color: #9351ad !important;
}
.badge-pink,
.label-pink {
    background-color: #bf3773 !important;
}
.badge-grey,
.label-grey {
    background-color: #4b5d67 !important;
}
.badge-dark,
.label-dark {
    background-color: #594857 !important;
}
.label-success,
.badge-success {
    background-color: #5cb85c;
    background-image: none !important;
}
.label-warning,
.badge-warning {
    background-color: #f0ad4e;
    background-image: none !important;
}
.label-danger,
.badge-danger {
    background-color: #d9534f;
    background-image: none !important;
}
.label-info,
.badge-info {
    background-color: #5bc0de;
    background-image: none !important;
}