.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.inputDate {
    cursor: not-allowed;
}

.spinnerwrap {
    margin: auto;
    display: none;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    padding-top: 50px;
    position: absolute;
}

.disableHide {
    left: 0px !important;
}

#sidebar {
    background: #3C3C3C;
    border-radius: 0px;
    min-height: 100%;
    z-index: 500;
}

.navbar-static-side {
    z-index: 3;
    position: fixed;
    width: 250px;
    transition: 0.4s all ease-in-out;
}

.navbar-static-side ul li {
    border-bottom: 1px solid #484848;
    background: #3C3C3C;
    outline: none;
    color: #d9d9d9;
}

.navbar-static-side ul li.active a {
    background: #3e77ab;
    transition: 0.2s all ease-in-out;
    outline: none;
    color: #FFF;
}

.centralBG {

    height: 100vh;
    position: fixed;
    background-size: cover !important;
    top: 0px;
    left: 0px;
    width: 100vw;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.navbar-static-side ul li a {
    color: #d9d9d9;
    padding: 15px;
}

.navbar-static-side ul li a:hover, .static-side ul li a:focus {
    background: #303030;
    transition: 0.2s all ease-in-out;
    outline: none;
    color: #FFF;
}

.navbar-static-side ul li a span.menu-title {
    margin-left: 10px;
}

.navbar-brand {
    width: 250px;
    text-align: center;
}

#page-wrapper {
    min-height: 100%;
    min-width: 100%;
    left: 0%;
    top: 0%;
    padding: 50px 0 0 250px;
    background-color: #f0f2f5;
    position: absolute;
    overflow: hidden;
    transition: 0.4s all ease-in-out;
}

.page-wrapper-title {
    padding-left: 25px;
}

.page-title-breadcrumb {
    padding: 10px 20px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    clear: both;
    border-bottom: 5px solid #e5e5e5 !important;
    box-shadow: none !important;
    position: fixed;
    left: 0%;
    width: 100%;
    padding: 5px 10px 5px 260px;
    z-index: 400;
    transition: 0.4s all ease-in-out;
}

.page-title-breadcrumb .page-header {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}

.page-title-breadcrumb .page-header .page-title {
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    color: #0c0c0c;
}

.page-title-breadcrumb .breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: transparent;
}

.breadcrumb {
    border-radius: 0 !important;
}

.page-content {
    margin: 0;
    padding: 80px 20px 20px 20px;
    min-height: 100%;
}

.checkbox-pagination-side-label {
    height: 20px;
    width: 20px;
    top: 7px;
    position: relative;
}

.collapse-sidebar {
    color: white;
    font-size: 40px;
}

.collapse-sidebar:hover {
    color: deepskyblue;
    cursor: pointer;
}

body {
    height: 100%;
}

.table.table-hover-color tbody tr:hover td:first-child {
    border-left: 4px solid #dc6767;
}

.collapse-block {
    color: white;
}

.collapse-block:focus {
    color: white;
}

.refresh-block {
    color: white;
}

.refresh-block:focus {
    color: white;
}

.table {
    color: #0c0c0c;
}

.table td, thead th {
    text-align: center;
}

.mbm, .mvm, .mam {
    margin-bottom: 10px !important;
}

.mtm, .mvm, .mam {
    margin-top: 10px !important;
}

.mbl, .mvl, .mal {
    margin-bottom: 20px !important;
}

.pll, .phl, .pal {
    padding-left: 20px !important;
}

.pbl, .pvl, .pal {
    padding-bottom: 20px !important;
}

.prl, .phl, .pal {
    padding-right: 20px !important;
}

.ptl, .pvl, .pal {
    padding-top: 20px !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #999999;
}

.form-control {
    border-radius: 0px;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul.nav.nav-tabs li.active a {
    background: #488c6c;
    color: #fff;
}

.tddel .chosen-container {
    display: none;
}

#adminStudentcollapseListAllStudents .tddel {
    display: none;
}

.admin-config-server-action {
    margin: 5px;
}

.ui-datepicker {
    z-index: 1060 !important;
}

.spin {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.chosen-container-multi .chosen-choices li.search-field input[type=text]{
    width: 100%!important;
}