/*panel stat*/
#sum_box .db {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#sum_box .icon {
    color: #999999;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 5px;
    float: right;
}
#sum_box h4 {
    text-align: left;
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#sum_box div.legend {
    line-height:0px;
}

#sum_box h4 span:last-child {
    font-size: 25px;
}
#sum_box p.description {
    margin-top: 0px;
    opacity: .6;
}
#sum_box .db:hover {
    background: #40516f;
    color: #fff;
}
#sum_box .db:hover .icon {
    opacity: 1;
    color: #fff;
}
#sum_box .db:hover p.description {
    opacity: 1;
}