{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block navbar_left_extends %}
{#<li class="dropdown">#}
	{#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Outils <span class="caret"></span></a>#}
	{#<ul class="dropdown-menu">#}
		{#<li class="dropdown-header">Interface professeur</li>#}
		{#<li><a href="{{ path('etudiantProfesseur') }}"><span class="glyphicon glyphicon-education"></span> Administration des étudiants</a></li>#}
		{#<li><a href="{{ path('depotProfesseur') }}"><span class="glyphicon glyphicon-book"></span> Administration des boite de dépôts</a></li>#}
		{#<li><a href="{{ path('statsProfesseur') }}"><span class="glyphicon glyphicon-stats"></span> Statistiques</a></li>#}
		{#<li role="separator" class="divider"></li>#}
		{#<li class="dropdown-header">Autres</li>#}
		{#<li><a href="#"><span class="glyphicon glyphicon-user"></span> Modifier le profil</a></li>#}
		{#<li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>#}
	{#</ul>#}
{#</li>#}
{% endblock %}

{% block sidebar_extends %}
	<li {%  block sidebar_active_1 %}{% endblock %}>
		<a href="{{ path('teacher-students') }}"  data-page-title="Gestion des étudiants" data-breadcrumb-statut="Etudiants" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-user nav-link"  title="Etudiants">
			<span class="menu-title">Etudiants</span>
		</a>
	</li>
	<li {%  block sidebar_active_2 %}{% endblock %}>
		<a href="{{ path('teacher-repositories') }}" data-page-title="Gestion des dépôts" data-breadcrumb-statut="Dépots" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-inbox nav-link"  title="Dépôts">
			<span class="menu-title">Dépôt</span>
		</a>
	</li>
	<li {%  block sidebar_active_3 %}{% endblock %}>
		<a href="{{ path('teacher-tests') }}" data-page-title="Gestion des test" data-breadcrumb-statut="Tests" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-paste nav-link"  title="Tests">
			<span class="menu-title">Tests</span>
		</a>
	</li>
	<li {%  block sidebar_active_4 %}{% endblock %}>
		<a href="{{ path('teacher-submissions') }}" data-page-title="Rendus" data-breadcrumb-statut="Rendus" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-open-file nav-link"  title="Rendus">
			<span class="menu-title">Rendus</span>
		</a>
	</li>
{% endblock %}

{% block login_status %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{{ path('fos_user_security_logout', {}) }}"><span class="glyphicon glyphicon-quit"></span> Logout</a></li>
	</ul>
{% endblock %}