<div class="modal fade" id="run-results-student-modal" role="dialog" aria-labelledby="logBuild">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Résultat d\'éxécution</h4>
            </div>
            <div class="modal-body"  id="run-results-student-modal-body">

            </div>
            <div id="run-results-student-modal-spinner" class="text-center">
                <img src="{{ asset('images/spinner.gif') }}" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="run-results-student-modal-path" value ="{{ path('student-results-run-modal') }}">