<div class="page-header" style="margin-top:0px;">
    <h4>Soumission {{ sub.id }} - <small>{{ sub.repository.libelle }}</small></h4>
</div>
<section class="table-responsive">
    <table class="table table-hover table-hover-color" width="100%" cellspacing="0">
        <thead>
        <th>#</th>
        <th>Code retour</th>
        <th>Type</th>
        <th>Trace</th>
        <tbody>
        {%  for runResult in sub.runResults %}
            <tr class="{{ runResult.result == 401 ? 'warning'
            : runResult.result == 400 ? 'danger'
            : runResult.result == 408 ? 'warning'
            : runResult.result == 200 ? 'success'
            : runResult.result == 404 ? 'warning'
            : 'warning' }}">
                <td>{{ runResult.id }}</td>
                <td>{{ runResult.result }}</td>
                <td>
                    {{ runResult.result == 401 ? 'Mauvaise réponse !'
                    : runResult.result == 400 ? 'Erreur d\'éxécution !'
                    : runResult.result == 408 ? 'Temps limite excédé !'
                    : runResult.result == 200 ? 'Bonne réponse !'
                    : runResult.result == 404 ? 'Autres erreurs'
                    : 'Erreur incconu' }}
                </td>
                <td>{{ runResult.log }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>