<div class="page-header" style="margin-top:0px;">
    <h4>Soumission {{ sub.id }} - <small>{{ sub.repository.libelle }}</small></h4>
</div>
<section class="table-responsive">
    <h4>{{ sub.buildResult == "200" or sub.buildResult == "No build" ? "Succès !" : "Echec"}}</h4>
    <p>{{ sub.buildLog | nl2br }}</p>
</section>