{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <style>
        .centralBG {
            background: url("{{  asset("images/Material_Design.jpg") }}") center;
        }

    </style>
    <div class="centralBG"></div>
    <div class="container" style="color: white;margin-top: 10vh">
        <div style="position: relative" ;>
            <h1>Connectez vous !</h1>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form class="form-horizontal container" style="max-width: 500px;min-width: 100px;" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="form-group">
                    <label for="username">Nom d'utilistateur : </label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                           required="required"/>
                </div>

                <div class="form-group">
                    <label  for="password">{{ 'security.login.password'|trans }}: </label>

                    <input class="form-control" type="password" id="password" name="_password" required="required"/>
                </div>

                <div class="form-group">
                    <div >
                        <label for="remember_me">
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>
                </div>
                <br/>
                <div class="text-center">
                    <a style="color:orangered" href="{{ path("user-forgot-something") }}">Vous ne conaissez pas votre identifiant ou mot de passe? Cliquez ici.</a>
                </div>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}