{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'lib/bootstrap-3.3.6/css/bootstrap.min.css'
    'lib/Loader4Js/css/loader4js.css'
    'lib/chosen/chosen.min.css'
    'lib/jquery-ui-1.11.4/jquery-ui.min.css'
    'lib/jquery-ui-1.11.4/jquery-ui.theme.min.css'
    'css/strike.css'
    'css/main.css'
    'css/panel.css'
    'css/label.css'
    'css/pagination.css'
    'css/sum_box.css'
    'css/progress_bar.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("images/favicon") }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset("images/favicon") }}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset("images/favicon") }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("images/favicon") }}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset("images/favicon") }}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset("images/favicon") }}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset("images/favicon") }}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset("images/favicon") }}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("images/favicon") }}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset("images/favicon") }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("images/favicon") }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset("images/favicon") }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("images/favicon") }}/favicon-16x16.png">
    <link rel="manifest" href="{{ asset("images/favicon") }}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset("images/favicon") }}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'AppBundle:Layout:top-navbar.html.twig' with {navbar_left_extends: block('navbar_left_extends')} %}

    {% if app.user %}
        <div id="wrapper">
        {% include 'AppBundle:Layout:side-navbar-layout.html.twig' with {sidebar_extends: block('sidebar_extends')} %}

        <div id="page-wrapper">
        <!-- BREADCRUMB -->
        <div class="page-title-breadcrumb">
            <div class="page-header pull-left">
                <div class="page-title">
                    {% block breadcrumb_title %}{% endblock %}
                </div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                {% block breadcrumb_list %}{% endblock %}
            </ol>
            <div class="clearfix"></div>
        </div>

        <!-- LOADER -->
        <div id="waiting-loader"></div>

    {% endif %}
    <!-- MAIN CONTAINER --> {% block main_container %}{% endblock %}
    {% if app.user %}
        </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    'lib/jquery/jquery-2.2.0.min.js'
    'lib/bootstrap-3.3.6/js/bootstrap.min.js'
    'lib/Loader4Js/js/loader4js.js'
    'lib/chosen/chosen.jquery.min.js'
    'lib/jquery-ui-1.11.4/jquery-ui.min.js'
    'lib/jquery-ui-1.11.4/datepicker-fr.js'
    'js/script.js'
    'js/navigation/navigation.js'
    'js/navigation/page-navigation.js'
    'js/admin/admin-config.js'
    'js/admin/admin-teacher.js'
    'js/admin/admin-student.js'
    'js/teacher/teacher-tests.js'
    'js/teacher/teacher-repositories.js'
    'js/etudiant/student-repositories.js'
    'js/etudiant/student-results.js'
    'js/professeur/professeur-students.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}