<div class="row text-center">
        <ul class="pagination pagination-impose pagination-sm bloc-centre mtm mbm">
            {% if totalPage == 0 %}
                Pas d'éléments à afficher
            {% elseif totalPage <= 5  %}
                {% for i in 1..totalPage %}
                    {% if i == page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="{{ uri }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% if page > totalPage -  2 %}
                    {% for i in totalPage-5..totalPage %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ uri }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% elseif page < 3 %}
                    {% for i in 1..5 %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ uri }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for i in page-2..page+2 %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ uri }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
    </ul>
</div>