<div class="row text-center">
    <div class="col-xs-4 text-left">
        Résultats {{ beginResult }} - {{ endResult }} sur {{ totalResults }}
    </div>
    <div class="col-xs-4 text-center">
        <ul class="pagination pagination-page pagination-sm bloc-centre mtm mbm">
            {% if totalPage == 0 %}
                Pas d'éléments à afficher
            {% elseif totalPage <= 5  %}
                    {% for i in 1..totalPage %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                            <a href="{{ uri }}">{{ i }}</a>
                        </li>
                    {% endfor %}
            {% else %}
                {% if page > totalPage -  2 %}
                    {% for i in totalPage-5..totalPage %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ uri }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% elseif page < 3 %}
                    {% for i in 1..5 %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ uri }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for i in page-2..page+2 %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ uri }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <div class="col-xs-4 text-right">
        <span>nb element par page</span>
        <select class="pagination-elements">
            <option value="10">10</option>
            <option value="25" {% if elements == 25 %} selected = "selected" {% endif %}>25</option>
            <option value="50" {% if elements == 50 %} selected = "selected" {% endif %}>50</option>
            <option value="100" {% if elements == 100 %} selected = "selected" {% endif %}>100</option>
        </select>
    </div>
</div>