{% extends 'AppBundle:Layout:layout.html.twig' %}


{% block main_container %}
    <style>
        .central {
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: transform 300ms;
                text-align: center;
        }
    </style>

    <div class='central'>
        <div>{{response}}</div>
    </div>
{% endblock %}
