<nav id="sidebar" role="navigation" data-step="2" data-position="right" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
           {{ sidebar_extends|raw }}
        </ul>
        <div class="strike">
            <span class="collapse-sidebar" data-step="0">&#8678;</span>
        </div>
    </div>
</nav>