<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Buffalo Judge</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a onclick='$(".bs-description-modal-lg").modal("show")' href="#about">Documentation</a></li>
                <li><a onclick='$(".bs-contact-modal-lg").modal("show")' href="#contact">Contact</a></li>
                {{ navbar_left_extends|raw }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Bonjour {{ app.user.getFullname ~ '  (  ' ~app.user.getUsername()~ '  )' }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target=".bs-password-modal-lg">Modifier mon mot de passe
                                    </button>
                                </a></li>
                        </ul>
                    <li><a href="{{ path('fos_user_security_logout') }}"><span
                                    class="glyphicon glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>

                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}"><span
                                    class="glyphicon glyphicon glyphicon-log-in"></span> Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Large modal -->

{% if app.user %}
    <input hidden id="routeChangePassword" value="{{ path("user-change-password") }}"/>

    <div class="modal fade bs-password-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div><!-- Large modal -->
    </button>
{% endif %}
<div class="modal fade bs-description-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3>
                    A propos de Student Code Judge</h3>
                <p>Student Code Judge est une application de test de code en ligne à destination des professeurs et des
                    étudiants.</p>
                <p> Elle a été créée par Thomas Benhamou, Clémence Chauvet, Sacha Cochin, Romain Delas et Rémi Kaeffer
                    pour leur projet d’année à l’université de Nice-Sophia Antipolis en 2016.</p>
                <p>
                    Cette application permet de tester les projets des étudiants avec plusieurs langages.</p>
                <p> Elle gère les langage C, Python, Java et C++.</p>
                <p> Des langages pourront être ajoutés selon les besoins des professeurs.</p>
                <p> Elle est capable de compiler et d’exécuter des scripts.</p>
                <p> Ces exécutions retournent des stacktraces et des statistiques relatives aux projets que les
                    étudiants ou les professeurs testeront.</p>
                <p>
                    Ainsi les professeurs pourront gérer leurs étudiants par groupe et par projet.</p>
                <p> Cette application simplifiera la correction des projets pour les professeurs.</p>
                <p> Ils pourront compiler et exécuter les projets de leurs étudiants selon des tests qu’ils auront
                    préalablement sauvegardés dans l’application.</p>
                <p>
                    Les étudiants pourront soumettre leur projet un certain nombre de fois pour le tester en condition
                    de rendu de projet.</p>
                <p> Ils auront des retours sur leurs projets et pourront le modifier avant le rendu final.</p>
                <p>Cette application sera développée en premier lieu pour les professeurs de la MIAGE de Nice Sophia
                    Antipolis et sera étendu aux professeurs du département informatique.</p>
                <p> Elle pourra par la suite être accessible à un plus grand nombre.</p>
                <p>Un livrable de l’application ainsi qu’un document relatif à son installation seront fournis à chaque
                    personne souhaitant avoir accès à l’application.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div><!-- Large modal -->

<div class="modal fade bs-contact-modal-lg" tabindex="-1" role="dialog" a>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h2> Contact</h2>
                <p>Sacha Cochin (sacha.cochin@gmail.com)</p>
                <p>Thomas Benhamou (thomas.benhamou@hotmail.fr)</p>
                <p>Rémi Kaeffer (remi.kaeffer@gmail.com)</p>
                <p>Romain Delas (r.delas01@gmail.com)</p>
                <p>Clémence Chauvet (cle.chauvet@gmail.com)</p>

                <p>Nous sommes cinq étudiants du Master 1 Méthodes Informatiques Appliquées à la Gestion des Entreprises.
                Nos différentes formations nous ont permis de créer cette application. Notre motivation ainsi que nos
                connaissances nous aura permis de mettre en œuvre ce projet.</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>
<div class="hidden">
    <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/></div>