<div class="row text-center">
    <div class="well">
        <h4>Dépot {{ repository.libelle }}</h4>
        <p>{{ repository.language.libelle }}</p>
        <br>
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                {{ repository.description | raw }}
            </div>
        </div>

        <br>

        {{ form_start(formRepoSubmission, {'attr': {'class': 'students-repositories-repo-submit-form ', 'action' : path('teacher-repositories-test-modal'), 'method' : 'POST' }} ) }}
        {{ form_errors(formRepoSubmission) }}

        <div class="row">
            <fieldset class="col-md-4 col-md-offset-4">
                <legend>Soumettre un projet</legend>
                {{ form_widget(formRepoSubmission.file) }}
            </fieldset>
        </div>

        <br>

        {{ form_widget(formRepoSubmission.save, {'attr': {'class': 'btn btn-info'}} ) }}

        <input type="hidden" name="id" value="{{ repository.id }}">

        {{ form_rest(formRepoSubmission) }}
        {{ form_end(formRepoSubmission) }}

    </div>
</div>