{% include 'AppBundle:Layout:pagination.html.twig' with {'beginResult' : beginResult, 'endResult' : endResult, 'totalResults' : totalResults, 'totalPages': totalPage, 'page': page, 'elements': elements, 'uri' : path('student-repositories') } %}
<section class="table-responsive">
    <table class="table table-hover table-hover-color" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Professeur</th>
            <th>Date de fin</th>
            <th>Etat</th>
            <th>Soumissions</th>
            <th>Détails</th>
            <th>Soumettre</th>
        </tr>
        </thead>
        <tbody id="admin-teacher-tbody" class="pagination-table">
       {% for repo in repositories %}
            <tr>
                <td>{{ repo.id }}</td>
                <td>{{ repo.libelle }}</td>
                <td>{{ repo.creator }}</td>
                <td>{{ repo.endDate|date('d-m-y H:i:s') }}</td>
                <td>
                    {% if date(repo.beginDate) > date() %}
                        <span class="label label-sm label-warning">Fermée</span>
                    {% elseif date(repo.endDate) > date() %}
                        <span class="label label-sm label-success">Ouvert</span>
                    {% else %}
                        <span class="label label-sm label-danger">Cloturée</span>
                    {% endif %}
                </td>
                <td>
                    {% if repo.limited and userSubmission[loop.index0] <= repo.maxCommitPerPerson %}
                        <span class="label label-warning">
                            {{ userSubmission[loop.index0] }} / {{ repo.maxCommitPerPerson }} {{ userGrantedSubmission[loop.index0] > 0 ?  '+ ' ~ userGrantedSubmission[loop.index0] : "" }}
                        </span>
                    {% elseif repo.limited %}
                        <span class="label label-danger">
                            {{ userSubmission[loop.index0] }} / {{ repo.maxCommitPerPerson }} {{ userGrantedSubmission[loop.index0] > 0 ? '+ ' ~ userGrantedSubmission[loop.index0] : "" }}
                        </span>
                    {% else %}
                        <span class="label label-success">
                            {{ userSubmission[loop.index0] }} / ilimité
                        </span>
                    {% endif %}
                </td>
                <td>
                    <button class="glyphicon glyphicon-search btn btn-info" data-toggle="modal" data-target="#submissions-repositories-description-student-modal" data-id="{{ repo.id }}"></button>
                </td>
                <td>
                    {% if date(repo.endDate) > date() and date(repo.beginDate) < date() and judgeStatus.status == 'running' %}
                        {% if not(repo.limited)  %}
                            <button class="glyphicon glyphicon-save-file btn btn-primary" data-toggle="modal" data-target="#submissions-repositories-student-modal" data-id="{{ repo.id }}"></button>
                        {% elseif repo.limited and userSubmission[loop.index0] <= repo.maxCommitPerPerson +  userGrantedSubmission[loop.index0] %}
                            <button class="glyphicon glyphicon-save-file btn btn-primary" data-toggle="modal" data-target="#submissions-repositories-student-modal" data-id="{{ repo.id }}"></button>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-center"></span>
                        {% endif %}
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-center"></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="tableProfAdminSpinner" class="text-center pagination-spinner" hidden><img src="{{ asset('images/spinner.gif') }}" alt="" /></div>
</section>