{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'EtudiantBundle:layout.html.twig' %}

{% block sidebar_active_1 %}
    class="active"
{% endblock %}

{% block breadcrumb_title %}
    Dashboard
{%  endblock %}

 {% block breadcrumb_list %}
     <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('student-repositories') }}">Etudiant</a>&nbsp;</li>
     <li class="breadcrumb-statut active">Dépots</li>
 {% endblock %}

{% block main_container %}
    <div class="page-content">
        {% include 'EtudiantBundle:Repositories:Modal/student-repositories-submissions-modal.html.twig' %}
        {% include 'EtudiantBundle:Repositories:Modal/student-repositories-description-modal.html.twig' %}
        <div class="panel panel-violet">
            <div class="panel-heading">
                Mes dépots
                <a data-step="1" data-toggle="collapse" class="collapse-block pull-right glyphicon glyphicon-chevron-up" href="#collapse-repo"></a>
            </div>
            <div class="panel-body collapse panel-collapse in pagination-content" id="collapse-repo">
                {% include 'EtudiantBundle:Repositories:student-repositories-table.html.twig' with {'userSubmission' : userSubmission, 'elements' : elements, 'repositories': repositories, 'page' : page, 'totalResults': totalResults,'totalPage' : totalPage, 'beginResult' : beginResult, 'endResult' : endResult } %}
            </div>
        </div>
    </div>
{% endblock %}

