{% block main_container %}

    {{ form_start(formMail, {'attr': {'class': 'mail-groupe', 'action' : path('mail-groupe'), 'method' : 'POST'} }) }}

    {% if message is defined %}
        <div class="alert alert-success"> {{ message }}</div>
    {% endif %}
    {{ form_label(formMail.objectmail) }}
    {{ form_widget(formMail.objectmail,{'attr':{"class":"form-control"}}) }}


    {{ form_label(formMail.textmail) }}
    {{ form_widget(formMail.textmail,{'attr':{"class":"form-control"}}) }}

    <div class="row">

        <div class="col-md-6">
            <br>
            {{ form_row(formMail.userGroups) }}
        </div>

        <div class="col-md-6">

            <br>
            <label>Filtrage des étudiants:</label>
            {{ form_row(formMail.actifsCb) }}

            <br/>{{ form_row(formMail.inactifsCb) }}

            <br/>
        </div>


        <div  class="hidden addStudentInMailContainer col-md-10">

            <label>Envoyer aux étudiants</label>
            <select class="addStudentInMailSelect" multiple></select>
            {{ form_widget(formMail.usersList ,{'attr':{'class':'hidden form-control addStudentInMailTextarea'}}) }}
        </div>
        <div class="col-md-6 text-center">
            <br>
            {{ form_widget(formMail.Envoyer,{'attr':{"class":"btn btn-success"}}) }}</div>
    </div>



    {{ form_end(formMail) }}
{% endblock %}