<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activez votre compte : Vous avez été inscrit sur Student Code Jugdge‏</title>

</head>
<body>
<style>
    .header {
        width: 100%;
        color: white;
        background: #3CB371;
    }

    .texte {
        width: 100%;
        margin: 30px;
        padding: 30px;
        height: 350px;
    }

    .visbleLink {
        margin: 30px;
    }
</style>
<div class="header">
    <h3>Bonjour, {{ user.getFullname() }}</h3>
    {% if objet2 is defined and objet2 is not null %}
        <h4>{{ objet2 }}</h4>
    {% endif %}
    {% if sender is defined and sender is not null %}
        <h3>Vous avez recu un message de {{ sender.getFullname() }}</h3>
    {% endif %}
</div>
<div class="texte">
    <h5>Message :</h5>
    {% if message is defined and message is not null%}
        <p>{{ message }}</p>
    {% endif %}
    <br/>
    <b>Pour rappel, votre identidiant est : {{ user.getUsername() }}</b><br/>
    <b>Lien :</b>
    <a href="{{ confirmationUrl }}" class="visbleLink">Se connecter sur student Code Judge</a>
    <br/>
    <h5>Bien à vous.</h5>
    <h5>L'équipe Student Code Jugde</h5>
</div>
</body>
</html>