{{ form_start(form, {'attr': {'class': 'edit-teacher-password-form form-horizontal', 'data-id' : id, 'action' : path('admin-teacher-request-password-modal'), 'method' : 'POST'} }) }}
{{ form_errors(form) }}
<div class="form-group">
    {{ form_label(form.plainPassword, "Nouveau mot de passe : ", { 'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.plainPassword) }}
    <div class="col-sm-10">
        {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="text-center">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
</div>
<div class="text-center">
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}