<tr class="teacher-table-line">
    {#<form name="{{ formEditTeacher.vars.name }}" class="editTeacherForm" action="{{ path('admin-teacher') }}" method="POST">#}

    <td>{{ prof.id }}</td>
    <td class="edit-teacher-form" hidden>
        {{ form_start(formEditTeacher, {'attr': {'class': 'editTeacherForm form-inline', 'action' : path('admin-teacher'), 'method' : 'POST', 'id' : 'edit_teacher' ~ prof.id  }} ) }}
        {{ form_errors(formEditTeacher) }}
        {{ form_widget(formEditTeacher.username, {'attr': {'class': 'form-control input-sm edit-teacher-form-real-input-username', 'form' : 'edit_teacher' ~ prof.id}} ) }}
        {{ form_widget(formEditTeacher.email, {'attr': {'class': 'form-control input-sm edit-teacher-form-real-input-email' , 'form' : 'edit_teacher' ~ prof.id}}) }}
        {{ form_widget(formEditTeacher.firstname, {'attr': {'class': 'form-control input-sm edit-teacher-form-real-input-firstname', 'form' : 'edit_teacher' ~ prof.id}} ) }}
        {{ form_widget(formEditTeacher.lastname, {'attr': {'class': 'form-control input-sm edit-teacher-form-real-input-lastname', 'form' : 'edit_teacher' ~ prof.id}} ) }}
        {{ form_widget(formEditTeacher.enabled, {'attr': {'class': 'form-control edit-teacher-form-real-input-enabled', 'form' : 'edit_teacher' ~ prof.id}} ) }}
        {{ form_widget(formEditTeacher.save, {'attr': {'class': 'edit-teacher-form-real-input-submit btn btn-sm btn-success glyphicon glyphicon-check', 'form' : 'edit_teacher' ~ prof.id, 'style' : ''}} ) }}
        {{ form_rest(formEditTeacher) }}
        {{ form_end(formEditTeacher) }}
    </td>
    <td>
        <span class="edit-teacher-form-info-username">{{ prof.username }}</span>
        <span class="edit-teacher-form-input-username"></span>
    </td>
    <td>
        <span class="edit-teacher-form-info-email">{{ prof.email }}</span>
        <span class="edit-teacher-form-input-email"></span>
    </td>
    <td>
        <span class="edit-teacher-form-info-firstname">{{ prof.firstname }}</span>
        <span class="edit-teacher-form-input-firstname"></span>
    </td>
    <td>
        <span class="edit-teacher-form-info-lastname">{{ prof.lastname }}</span>
        <span class="edit-teacher-form-input-lastname"></span>
    </td>
    <td class="editable-teacher-enabled">
        {% if prof.enabled %}
            <span class="label label-sm label-success edit-teacher-form-info-enabled">Actif</span>
        {% else %}
            <span class="label label-sm label-danger edit-teacher-form-info-enabled">Inactif</span>
        {% endif %}
        <span class="edit-teacher-form-input edit-teacher-form-input-enabled"></span>
    </td>
    <td>
        <button class="btn btn-sm btn-warning edit-teacher"><span class="glyphicon glyphicon-edit"></span></button>
        <span class="edit-teacher-validate"></span>
        {#<button class="btn btn-sm btn-success edit-teacher-validate" style="display:none"><span class="glyphicon glyphicon-check"></span></button>#}
        <button class="btn btn-sm btn-danger edit-teacher-cancel" style="display:none"><span
                    class="glyphicon glyphicon-remove-circle"></span></button>
    </td>
    <td>
        <button class="btn btn-sm btn-primary edit-teacher-password" href="#" data-toggle="modal"
                data-target="#edit-teacher-password-modal" data-id="{{ prof.id }}"><span
                    class="glyphicon glyphicon-lock"></span></button>
    </td>
    <td>
        <button class="btn btn-sm btn-info" href="#" data-toggle="modal" data-target="#infoModal{{ prof.id }}"><span
                    class="glyphicon glyphicon-info-sign"></span></button>
    </td>
    <div id="infoModal{{ prof.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Informations sur le prof #{{ prof.id }} </h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li> Username : {{ prof.username }} </li>
                        <li> Email : {{ prof.email }} </li>
                        <li> Prénom : {{ prof.firstname }}</li>
                        <li> Nom : {{ prof.lastname }}</li>
                        <li> Date d'enregistrement : {{ prof.registerDate|date("m/d/Y H:i:s") }} </li>
                        {% if prof.enabled %}
                            <li>Statut : Actif</li>
                        {% else %}
                            <li> Statut : Inactif</li>
                        {% endif %}
                        {% if prof.lastlogin %}
                            <li>Nombre de connexion : {{ prof.nbConnexion }}</li>
                            <li> Date de derniere connexion : {{ prof.lastlogin|date("m/d/Y H:i:s") }} </li>
                        {% else %}
                            <li> Connexion : Ce professeur ne s'est jamais connecté</li>
                        {% endif %}
                        <li>Nombre de Repository créés :</li>
                        <li>Nombre de groupe associées :</li>
                        <li>Nombre d'étudiants accesible :</li>
                        <li>Nombre de testCase :</li>
                        <li>Nombre de soumission sur les repos :</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warnging" data-dismiss="modal"><span
                                class="glyphicon glyphicon-quit pull-left"></span>Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
</tr>