{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'AdminBundle:layout.html.twig' %}

{% block admin_subtitle %}
    Interface professeur
{% endblock %}

{% block sidebar_active_1 %}
    class="active"
{% endblock %}

{% block breadcrumb_title %}
    Dashboard
{% endblock %}

 {% block breadcrumb_list %}
     <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('admin-teacher') }}">Admin</a>&nbsp;</li>
     <li class="active">Professeur</li>
 {% endblock %}


{% block main_container %}
    <div class="page-content">
        <div id="sum_box" class="row mbl">
            <div class="col-sm-6 col-md-3">
                <div class="panel profit db mbm">
                    <div class="panel-body">
                        <p class="icon">
                            <span class="glyphicon glyphicon-education"></span>
                        </p>
                        <h4 class="value">
                            {{ teacherCard.total_users }}
                        </h4>
                        <p class="description">
                            Professeurs enregistrées
                        </p>
                        <div class="clearfix"></div>
                        <div class="progress progress-lg mbn">
                            <div role="progressbar"
                                 style="width: {{ (teacherCard.active_users / totalResults) * 100 }}%;"
                                 class="progress-bar progress-bar-success">
                                {{ teacherCard.active_users }}
                            </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 style="width:{{ (teacherCard.inactive_users / totalResults) * 100 }}%">
                                {{ teacherCard.inactive_users }}
                            </div>
                        </div>
                        <div class="legend text-center">
                            <label class="label label-sm label-success">Actif</label>
                            <label class="label label-sm label-danger">Inactif</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel income db mbm">
                    <div class="panel-body">
                        <p class="icon">
                            <span class="glyphicon glyphicon-tasks"></span>
                        </p>
                        <h4 class="value">
                            {{ repoCard.total_repo }}
                        </h4>
                        <p class="description">
                            Repository créés
                        </p>
                        <div class="clearfix"></div>
                        <div class="progress progress-lg mbn">
                            {% for language in repoCard.language_repo %}
                                <div role="progressbar"
                                     style="width: {{ (language.languagecount / repoCard.total_repo) * 100 }}%;"
                                     class="progress-bar progress-bar-{{ repoCard.colors[loop.index0] }}">
                                    {{ language.languagecount }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="legend text-center">
                            {% for language in repoCard.language_repo %}
                                <label class="label label-sm label-{{ repoCard.colors[loop.index0] }}">{{ language.libelle }}</label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel task db mbm">
                    <div class="panel-body">
                        <p class="icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </p>
                        <h4 class="value">
                            {{ studentCard.total_students }}
                        </h4>
                        <p class="description">
                            Etudiants inscrits aux dépots
                        </p>
                        <div class="clearfix"></div>
                        <div class="progress progress-lg mbn">
                            <div role="progressbar"
                                 style="width: {{ (studentCard.active_students / studentCard.total_students) * 100 }}%;"
                                 class="progress-bar progress-bar-success">
                                {{ studentCard.active_students }}
                            </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 style="width:{{ (studentCard.inactive_students / studentCard.total_students) * 100 }}%">
                                {{ studentCard.inactive_students }}
                            </div>
                        </div>
                        <div class="legend text-center">
                            <label class="label label-sm label-success">Actif</label>
                            <label class="label label-sm label-danger">Inactif</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel visit db mbm">
                    <div class="panel-body">
                        <p class="icon">
                            <span class="glyphicon glyphicon-inbox"></span>
                        </p>
                        <h4 class="value">
                            {{ submissionCard.total_submissions }}
                        </h4>
                        <p class="description">
                            Nombre de soumissions
                        </p>
                        <div class="clearfix"></div>
                        <div class="progress progress-lg mbn">
                            {% for submission in submissionCard.result_submissions %}
                                <div role="progressbar"
                                     style="width: {{ (submission.resultcount / submissionCard.total_submissions) * 100 }}%;"
                                     class="progress-bar progress-bar-{{ repoCard.colors[loop.index0] }}">
                                    {{ submission.resultcount }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="legend text-center">
                            {% for submission in submissionCard.result_submissions %}
                                <label class="label label-sm label-{{ submissionCard.colors[loop.index0] }}">{{ submission.result }}</label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Add Panel -->
            <div class="col-sm-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div>
                            Ajouter un professeur
                            <a data-step="0" data-toggle="collapse"
                               class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                               href="#collapseAdd"></a>
                        </div>
                    </div>
                    <div id="collapseAdd" class="panel-collapse collapse">
                        <div class="panel-body pan">
                        <div class="alert" style="display: none"></div>
                            {{ form_start(formAddTeacher, {'attr': {'class': 'addProfAdmin form-horizontal', 'action' : path('admin-teacher'), 'method' : 'POST'} }) }}
                            {{ form_errors(formAddTeacher) }}
                            <div class="form-body pal">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            {{ form_label(formAddTeacher.firstname, "Prénom", { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(formAddTeacher.firstname) }}
                                            {{ form_widget(formAddTeacher.firstname, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_label(formAddTeacher.lastname, "Nom", { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(formAddTeacher.lastname) }}
                                            {{ form_widget(formAddTeacher.lastname, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                    {#    <div class="col-sm-6">
                                            {{ form_label(formAddTeacher.username, "Username", {'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(formAddTeacher.username) }}
                                            {{ form_widget(formAddTeacher.username, {'attr': {'class': 'form-control'}}) }}
                                        </div>#}
                                            <div class="col-sm-6">
                                                {{ form_label(formAddTeacher.email, "Email", { 'label_attr': {'class': 'control-label'}}) }}
                                                {{ form_errors(formAddTeacher.email) }}
                                                {{ form_widget(formAddTeacher.email, {'attr': {'class': 'form-control'}}) }}
                                          </div>
                                        <div class="col-sm-6">
                                            {{ form_label(formAddTeacher.password, "Password", {'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(formAddTeacher.password) }}
                                            {{ form_widget(formAddTeacher.password, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                {{ form_widget(formAddTeacher.save, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                            {{ form_rest(formAddTeacher) }}
                            {{ form_end(formAddTeacher) }}
                        </div>
                        <div class="panel-footer text-center">
                            Un email sera automatiquement envoyé au professeur
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-green">
            <div class="panel-heading">
                Gérer les professeurs
                <a data-step="1" data-toggle="collapse" class="collapse-block pull-right glyphicon glyphicon-chevron-up"
                   href="#collapse-teacher"></a>
            </div>
            <div class="panel-body collapse panel-collapse in pagination-content" id="collapse-teacher">
                {% include 'AdminBundle:Teacher:admin-teacher-table.html.twig' with {'elements' : elements, 'formsEditTeacher' : formsEditTeacher, 'profs': users, 'page' : page, 'totalResults': totalResults,'totalPage' : totalPage, 'beginResult' : beginResult, 'endResult' : endResult } %}
            </div>
        </div>
    </div>
{% endblock %}