{% include 'AppBundle:Layout:pagination.html.twig' with {'beginResult' : beginResult, 'endResult' : endResult, 'totalResults' : totalResults, 'totalPages': totalPage, 'page': page, 'elements': elements, 'uri' : path('admin-teacher') } %}
<section class="table-responsive">
    <table class="table table-hover table-hover-color" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Statut</th>
            <th>Editer</th>
            <th>Mot de passe</th>
            <th>Informations</th>
        </tr>
        </thead>
        <tbody id="admin-teacher-tbody" class="pagination-table">
        {% for prof in profs %}
            {% include 'AdminBundle:Teacher:admin-teacher-tline.html.twig' with {'prof' : prof , 'formEditTeacher' : formsEditTeacher[loop.index0]} %}
        {% endfor %}
        </tbody>
    </table>
    <div id="edit-teacher-password-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modification de mot de passe </h4>
                </div>
                <div id="edit-teacher-password-modal-body" class="modal-body">

                </div>
                <div id="edit-teacher-password-modal-spinner" class="text-center">
                    <img src="{{ asset('images/spinner.gif') }}" alt=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warnging" data-dismiss="modal"><span
                                class="glyphicon glyphicon-quit pull-left"></span>Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="tableProfAdminSpinner" class="text-center pagination-spinner" hidden><img
                src="{{ asset('images/spinner.gif') }}" alt=""/></div>
    <input type="hidden" id="edit-teacher-password-modal-request-body"
           value="{{ path('admin-teacher-request-password-modal') }}">
</section>