{{ form_start(formAddEtudiant, {'attr': {'class': 'prof-student-add-student', 'action' : path('teacher-students'), 'method' : 'POST'} }) }}
					{{ form_errors(formAddEtudiant) }}
<div class="form-body pal">
	<div class="row">
		<div class="form-group">
			<div class="col-sm-6">
				{{ form_label(formAddEtudiant.firstname, "Prénom", { 'label_attr': {'class': 'control-label'}}) }}
				{{ form_errors(formAddEtudiant.firstname) }}
				{{ form_widget(formAddEtudiant.firstname, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-sm-6">
				{{ form_label(formAddEtudiant.lastname, "Nom", { 'label_attr': {'class': 'control-label'}}) }}
				{{ form_errors(formAddEtudiant.lastname) }}
				{{ form_widget(formAddEtudiant.lastname, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	<div class="form-group">
		{{ form_label(formAddEtudiant.email, "Email", { 'label_attr': {'class': 'control-label'}}) }}
		{{ form_errors(formAddEtudiant.email) }}
		{{ form_widget(formAddEtudiant.email, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_label(formAddEtudiant.userGroups, "Groupes de l'étudiant", { 'label_attr': {'class': 'control-label'}}) }}
		<br>
		{{ form_errors(formAddEtudiant.userGroups) }}
		<br>
		{{ form_widget(formAddEtudiant.userGroups, {'attr': {'class': 'form-control'}}) }}
	</div>

</div>
<div class="text-center">
	{{ form_widget(formAddEtudiant.save, {'attr': {'class': 'btn btn-primary'}}) }}
</div>
{{ form_rest(formAddEtudiant) }}
					{{ form_end(formAddEtudiant) }}
<div class="panel-footer text-center">
	Un email sera automatiquement envoyé à l'étudiant
</div>