{{ form_start(formImportListStudent, {'attr': {'class': 'prof-student-import-list-student', 'action' : path('teacher-students'), 'method' : 'POST'} }) }}
					{{ form_errors(formImportListStudent) }}
<div class="form-body pal">
	<div class="row">


	<div class="form-group">
		{{ form_label(formImportListStudent.textlisttuser, "Liste csv: nom;prenom;email ", { 'label_attr': {'class': 'control-label'}}) }}
		{{ form_errors(formImportListStudent.textlisttuser) }}
		{{ form_widget(formImportListStudent.textlisttuser, {'attr': {'class': 'form-control'}}) }}
	</div>
		<div class="form-group">
			{{ form_label(formImportListStudent.userGroups, "Ajouter cette liste aux goupes", { 'label_attr': {'class': 'control-label'}}) }}
			<br>
			{{ form_errors(formImportListStudent.userGroups) }}
			<br>
			{{ form_widget(formImportListStudent.userGroups, {'attr': {'class': 'form-control'}}) }}
		</div>

</div>
<div class="text-center">
	{{ form_widget(formImportListStudent.save, {'attr': {'class': 'btn btn-primary'}}) }}
</div>
{{ form_rest(formImportListStudent) }}
					{{ form_end(formImportListStudent) }}
<div class="panel-footer text-center">
	Un email sera automatiquement envoyé à chaque étudiant
</div>
	</div>