{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'ProfesseurBundle:layout.html.twig' %}

{% block breadcrumb_title %}
    Gestion des etudiants
{% endblock %}

 {% block breadcrumb_list %}
     <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('teacher-students') }}">Professeur</a>&nbsp;</li>
     <li class="breadcrumb-statut active">Etudiants</li>
 {% endblock %}

{% block sidebar_active_1 %}
    class="active"
{% endblock %}

{% block main_container %}
    <div class="page-content">

        {% if flashbag is defined and flashbag is not null%}
            <div class="modal bagmodal fade bs-example-modal-lg"><div class="modal-dialog"><div class="modal-content">
                        <div class="alert alert-{{ tagclass }}">{{ flashbag | raw }}</div>
            </div></div></div>
        {% endif %}
        <div class="row">
            <!-- Add Panel -->
            <div class="col-sm-6">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <div>
                            Ajouter un un étudiant
                            <a data-step="0" data-toggle="collapse"
                               class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                               href="#teacherStudentcollapseAddEtu"></a>
                        </div>
                    </div>
                    <div id="teacherStudentcollapseAddEtu" class="panel-collapse collapse">
                        <div class="panel-body pan">
                            <div class="alert" style="display: none"></div>
                            <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/>
                            {% include 'ProfesseurBundle:Students:AddStudent.html.twig' with { 'formAddEtudiant': formAddEtudiant } %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Panel -->
            <div class="col-sm-6">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <div>
                            Ajouter un groupe
                            <a data-step="0" data-toggle="collapse"
                               class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                               href="#teacherStudentcollapseAddGrp"></a>
                        </div>
                    </div>
                    <div id="teacherStudentcollapseAddGrp" class="panel-collapse collapse">
                        <div class="panel-body pan">

                            <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/>
                            {% include 'ProfesseurBundle:Students:AddGroup.html.twig' with { 'formAddEtudiant': formAddGroup } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-dark">
            <div class="panel-heading">
                <div>
                    Importer une liste d'étudiants
                    <a data-step="0" data-toggle="collapse"
                       class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                       href="#teacherStudentcollapseImportListStudents"></a>
                </div>
            </div>
            <div id="teacherStudentcollapseImportListStudents" class="panel-collapse collapse">
                <div class="panel-body pan">
                    <b style="color:royalblue">Importer une liste d'étudiants au : <a target="_blank"
                                                                                      href="//fr.wikipedia.org/wiki/Comma-separated_values#Variantes_fran.C3.A7aises">->Format
                            CSV Variante Française (Wikipedia)</a></b>
                    <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/>
                    {% include 'ProfesseurBundle:Students:ImportListStudent.html.twig' with { 'formImportListStudent': formImportListStudent } %}
                </div>
            </div>
        </div>
        <div class="panel panel-dark">
            <div class="panel-heading">
                <div>
                    Envoyer des Emails aux étudiants
                    <a data-step="0" data-toggle="collapse"
                       class="collapse-block pull-right glyphicon glyphicon-chevron-down" data-toggle="collapse"
                       href="#collapseMailStudents"></a>
                </div>
            </div>
            <div id="collapseMailStudents" class="panel-collapse collapse">
                <div class="panel-body pan">
                   <div class="alert hidden"></div>
                    <img class="spinnerwrap" src="{{ asset("images/spinner.gif") }}"/>
                    {% include 'UserBundle:Groupe:groupe-mail.html.twig' with { 'form': formMail } %}
                </div>
            </div>
        </div>

        {% include 'ProfesseurBundle:Students:teacher-student-group-tbody.html.twig' with {'listGroupEdit':listGroupEdit } %}

    </div>


{% endblock %}