{{ form_start(groupeListStudent, {'attr': {'class': 'prof-student-list-student-group-pagination', 'action' : path('teacher-students-group'), 'method' : 'POST'} }) }}

    {{ form_label(groupeListStudent.nbResultPage,"Nombre d'étudiants par page") }}

<div class="row">
    <div class="col-md-2">
        {{ form_widget(groupeListStudent.nbResultPage,  {'attr':{'class': 'form-control selectNbResultPaginationStudentInGroup'}}) }}
    </div>
    <div class="col-md-6 text-center">

        <div class="col-md-1">{{form_row(groupeListStudent.actifsCb)}}</div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-1">{{ form_row(groupeListStudent.inactifsCb)}}</div>
        <br/>
        {% if pageCourante is defined %}

            <ul class="pagination" style="margin-top: 0px">

                <li data="0">
                    <a aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for i in pageCourante-4..pageCourante+4 if i<nbPages and i>=0 %}

                    <li data="{{ i }}" class="{{ (i==pageCourante)? 'active' : '' }}"><a>{{ i+1 }}</a></li>
                {% else %}
                    <li><a>Aucun utilisateur dans ce groupe</a></li>
                {% endfor %}
                <li data="{{ nbPages-1 }}">
                    <a aria-label="Next">
                        <span aria-hidden="true">&raquo;</span> {{ nbPages }} pag(e)s
                    </a>
                </li>

            </ul>
        {% endif %}
    </div>

    <div class="col-md-1">
        <button class="btn btn-success refreshPaginationStudentInGroup"><span
                    class="glyphicon glyphicon-refresh"></span></button>
    </div>
</div>
{{ form_widget(groupeListStudent.pageCourante,  {'attr':{'class': 'hidden hiddenPageCourantePaginationStudentInGroup'}}) }}
{{ form_rest(groupeListStudent) }}
{{ form_end(groupeListStudent) }}
<table class="table table-hover table-hover-color">

    <thead>
    <tr>
        <th>
            #
        </th>
        <th>Email</th>
        <th></th>
        <th>Login</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Statut</th>
        <th>Editer</th>
        <th>Retirer</th>


    </tr>
    </thead>
    <tbody>

    {% if etudiants is defined %}
        {% for etu in etudiants %}

            {% include 'ProfesseurBundle:Students:row-prof-edit-student-table.html.twig' with {'etu':etu } %}
        {% endfor %}
    {% endif %}


    </tbody>
</table>
