{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block main_container %}
    <style>

        .centralBG {
            background: url("{{  asset("images/Material_Design1.jpg") }}") center;
        }
        .central {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: transform 300ms;
            text-align: center;
            color: #0c0c0c;
        }
        #black-circle {
            -webkit-border-radius:100%;
            -moz-border-radius:100%;
            border-radius:100%;

            background-color: #222;
            padding: 15px;
        }
    </style>
<div class="centralBG">
</div>
    <div class='central'>
        <div id="black-circle"><img src='{{  asset("images/buffalo.png") }}' width='100'></div>
        <h1>Buffalo judge</h1><br/>
        <p>Friends of Apache ...</p>
        <br/>
        <button onclick="document.location.href='{{ path("fos_user_security_login") }}'" class="btn btn-lg btn-success" >Se connecter</button>
    </div>
{% endblock %}