{% extends app.request.xmlHttpRequest
? 'AppBundle:Layout:ajax-layout.html.twig'
: 'ProfesseurBundle:layout.html.twig' %}

{% block breadcrumb_title %}
	Gestion des dépôts
{%  endblock %}

 {% block breadcrumb_list %}
	 <li><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<a href="{{ path('teacher-repositories') }}">Professeur</a>&nbsp;</li>
	 <li class="breadcrumb-statut active">Dépôts</li>
 {% endblock %}

{%  block sidebar_active_2 %}
	class="active"
{% endblock %}

{% block main_container %}
	<div class="page-content">
		<div class="panel panel-orange">
			<div class="panel-heading">
				Ajouter un dépot
				<a data-step="0" data-toggle="collapse" class="collapse-block pull-right glyphicon glyphicon-chevron-down" href="#teacher-repositories-collapse-add"></a>
			</div>
			<div class="collapse panel-collapse" id="teacher-repositories-collapse-add">
				<div id="teacher-repositories-add-form-container" class="panel-body">
					{% include 'ProfesseurBundle:Repositories:teacher-repositories-add.html.twig' with {'uri' : path('teacher-repositories'), 'formAddRepo' : formAddRepo} %}
				</div>
			</div>
		</div>
		{% include 'ProfesseurBundle:Repositories:Modal/Administration/teacher-repositories-administration-modal.html.twig' %}
		{% include 'ProfesseurBundle:Repositories:Modal/Test/teacher-repositories-test-modal.html.twig' %}
		{% include 'ProfesseurBundle:Repositories:Modal/Edit/teacher-repositories-edit-modal.html.twig' %}
		<div class="panel panel-orange">
			<div class="panel-heading">
				Mes dépots
				<a data-step="1" data-toggle="collapse" class="collapse-block pull-right glyphicon glyphicon-chevron-up" href="#teacher-repositories-collapse-table"></a>
			</div>
			<div class="panel-body collapse panel-collapse in pagination-content" id="teacher-repositories-collapse-table">
				{% include 'ProfesseurBundle:Repositories:teacher-repositories-table.html.twig' with {'elements' : elements, 'repositories': repositories, 'page' : page, 'totalResults': totalResults,'totalPage' : totalPage, 'beginResult' : beginResult, 'endResult' : endResult } %}
			</div>
			<div id="tableRepositoriesTeacherSpinner" class="text-center" hidden><img src="{{ asset('images/spinner.gif') }}" alt="" /></div>
		</div>
	</div>
{% endblock %}