{{ form_start(formAddRepo, {'attr': {'class': 'form-horizontal teacher-repositories-add', 'action' : uri} }) }}
{{ form_errors(formAddRepo) }}
<div class="form-body pal">
    <div class="form-group">
        {{ form_label(formAddRepo.libelle, "Nom du dépôt", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(formAddRepo.libelle) }}
        {{ form_widget(formAddRepo.libelle, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_label(formAddRepo.beginDate, "Date de début : ", { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formAddRepo.beginDate) }}
                <div class="input-append date" data-date="01-01-2016">
                    <div class="input-group">
                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        {{ form_widget(formAddRepo.beginDate, {'attr': { 'readonly' : 'readonly'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_label(formAddRepo.endDate, "Date de fin : ", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formAddRepo.endDate) }}
                <div class="input-append date" data-date="01-01-2016">
                    <div class="input-group">
                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        {{ form_widget(formAddRepo.endDate, {'attr': { 'readonly' : 'readonly'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-3">
                {{ form_label(formAddRepo.language, "Langage", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formAddRepo.language) }}
                {{ form_widget(formAddRepo.language, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(formAddRepo.limited, "Est limité ?", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formAddRepo.limited) }}
                {{ form_widget(formAddRepo.limited, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(formAddRepo.maxCommitPerPerson, "Nombre de soumission maximum", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(formAddRepo.maxCommitPerPerson) }}
                {{ form_widget(formAddRepo.maxCommitPerPerson, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(formAddRepo.timeout, "Time Out (en s)", {'label_attr': {'class': 'ontrol-label'}}) }}
                {{ form_errors(formAddRepo.timeout) }}
                {{ form_widget(formAddRepo.timeout, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(formAddRepo.description, "Description", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(formAddRepo.description) }}
        {{ form_widget(formAddRepo.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="text-center">
        {{ form_widget(formAddRepo.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
</div>
{{ form_rest(formAddRepo) }}
{{ form_end(formAddRepo) }}