{% include 'AppBundle:Layout:pagination.html.twig' with {'beginResult': beginResult, 'endResult' : endResult, 'totalResults' : totalResults, 'totalPages': totalPage, 'page': page, 'elements': elements, 'uri' : path('teacher-repositories') } %}
<section class="table-responsive">
    <table class="table table-hover table-hover-color" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Intitulé</th>
            <th>Langage</th>
            <th>Date de création</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Statut</th>
            <th>Limité</th>
            <th>Edition</th>
            <th>Administration</th>
            <th>Faire un test</th>
            <th>Télécharger les dernières soumissions</th>
        </tr>
        </thead>
        <tbody id="teacher-repositories-tbody" class="pagination-table">
        {% for repository in repositories %}
            <tr>
                <td class="teacher-repositories-id">{{ repository.id }}</td>
                <td>{{ repository.libelle }}</td>
                <td>{{ repository.language.libelle }}</td>
                <td>{{ repository.createDate|date("d/m/y H:i:s") }}</td>
                <td>{{ repository.beginDate|date("d/m/y H:i:s") }}</td>
                <td>{{ repository.endDate|date("d/m/y H:i:s") }}</td>
                <td>
                    {% if repository.enabled %}
                        <span class="label label-sm label-success">Actif</span>
                    {% else %}
                        <span class="label label-sm label-danger">Inactif</span>
                    {% endif %}
                </td>
                <td>
                    {% if repository.limited %}
                        <span class="label label-sm label-success">Oui</span>
                    {% else %}
                        <span class="label label-sm label-danger">Non</span>
                    {% endif %}
                </td>
                <td><button class="btn btn-sm btn-warning glyphicon glyphicon-pencil" href="#" data-toggle="modal" data-target="#edit-repositories-teacher-modal" data-id="{{repository.id}}"></button></td>
                <td><button class="btn btn-sm btn-info glyphicon glyphicon-wrench" href="#" data-toggle="modal" data-target="#administration-repositories-teacher-modal" data-id="{{repository.id}}"></button></td>
                <td><button class="btn btn-sm btn-danger glyphicon glyphicon-transfer" href="#" data-toggle="modal" data-target="#test-repositories-teacher-modal" data-id="{{repository.id}}"></button></td>
                <td><a class="glyphicon glyphicon-download btn btn-success" href="{{ path('teacher-repositories-all-download', { 'id' : repository.id }) }}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




    <div class="text-center pagination-spinner" hidden><img src="{{ asset('images/spinner.gif') }}" alt="" /></div>
</section>